.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards>ul>li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}


/* Variant Feature Focused View css */
.section.variant-focused-view-container .cards-wrapper {
  padding: 0;
}

.section.variant-focused-view-container .cards-wrapper {
  background: linear-gradient(180deg, #fff, #222);
  transition: 1 1.5s ease-out;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul {
  display: flex;
  flex-direction: column;
  grid-gap: unset;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li .cards-card-body {
  margin: 0;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li p {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 32px;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:first-child .cards-card-body h3,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(2) .cards-card-body h3,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:first-child .cards-card-body p,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(2) .cards-card-body p {
  color: #000;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(3) .cards-card-body h3,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(4) .cards-card-body h3,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(5) .cards-card-body h3,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(6) .cards-card-body h3 {
  color: #fff;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(3) .cards-card-body p,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(4) .cards-card-body p,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(5) .cards-card-body p,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(6) .cards-card-body p {
  color: #fff;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:first-child,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(3),
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(5) {
  flex-direction: row-reverse;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:first-child,
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(3) {
  gap: 5.4375rem;
  padding: 0 0 0 5.5rem;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(2),
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(5),
.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(6) {
  padding: 0 5.5rem;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(4) {
  padding: 0 5.5rem 0 0;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:first-child .cards-card-body {
  padding: 64px 0;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:first-child .cards-card-image {
  margin: 0 5.5rem 0 auto;
  width: 308px;
  height: 470px;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li:nth-child(2) .cards-card-image {
  width: 674px;
  height: 438px;
}

.section.variant-focused-view-container .cards-wrapper .cards.block ul li .cards-card-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}



/* Offer Cards Css */
.section.offer-cards .cards-wrapper {
  padding: 0;
}

.section.offer-cards .cards-wrapper ul {
  display: flex;
  gap: 32px;
}

.section.offer-cards .cards-wrapper ul li {
  border: none;
  background-color: #fff;
  border-radius: .75rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  padding: 1.5rem;
  flex: 1;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body {
  margin: 0;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body span.icon.icon-partial_payment,
.section.offer-cards .cards-wrapper ul li .cards-card-body span.icon.icon-grab {
  height: 30px;
  width: 30px;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body span.icon.icon-ltf-logo {
  height: 140px;
  width: 336px;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body span img {
  height: 100%;
  width: 1005;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #222;
  padding-bottom: 16px;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body h3 {
  font-size: 28px;
  line-height: normal;
  font-weight: 600;
  color: #222;
  margin: 0;
  padding-bottom: 16px;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body p.button-container {
  padding: 10px 0 12px 0;
}

.section.offer-cards .cards-wrapper ul li .cards-card-body p.button-container a {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ff5310;
  text-decoration: underline;
  background: unset;
  margin: 0;
  padding: 0;
  display: unset;
}

@media (width <=900px) {
  .section.offer-cards {
    padding: 0 0 0 16px;
  }
  .section.offer-cards .cards-wrapper ul {
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  .section.offer-cards .cards-wrapper ul li {
    padding: 1rem;
    min-width: 210px;
    margin: 2px;
  }

  .section.offer-cards .cards-wrapper ul li:nth-child(2) {
    margin-right: 16px;
  }

  .section.offer-cards .cards-wrapper ul li .cards-card-body span.icon.icon-partial_payment,
  .section.offer-cards .cards-wrapper ul li .cards-card-body span.icon.icon-grab {
    height: 20px;
    width: 20px;
  }
  .section.offer-cards .cards-wrapper ul li .cards-card-body span.icon.icon-ltf-logo {
    height: 88px;
    width: 208px;
  }
  .section.offer-cards .cards-wrapper ul li .cards-card-body h3 {
    font-size: 16px;
  }
  .section.offer-cards .cards-wrapper ul li .cards-card-body p.button-container a {
    font-size: 16px;
  }
  .section.offer-cards .cards-wrapper ul li .cards-card-body p {
    font-size: 16px;
  }
}