.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
}

.cards > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}



.million-indians > .default-content-wrapper > h2 {
    text-align: center;
    padding-bottom: 4rem;
    color: #282828;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 45px;
    margin-bottom: 0;
}
