.content3-div-hide {
    display: none;
}

.content3-div-show {
    display: block;
}

.view-more-btn{
    font-size: 0.875rem;
    width: 146px;
    text-align: center;
    display: block;
    margin: 20px auto 0 auto; /* top margin, auto left/right for center */
    border-radius: 20px;
    background: #4197D3;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.14px;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}