.content3-div-hide {
    display: none;
}

.content3-div-show {
    display: block;
}

.view-more-btn {
    font-size: 0.875rem;
    font-family: 'Inter-Bold';
    width: 100px;
    margin: -12px auto 0 auto;
    border-radius: 20px;
    background: #4197D3;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.14px;
    padding: 9px 15px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.view-more-btn:hover{
    background-color: #4197D3;
}