.section .blogs-carousel-wrapper {
    max-width: 100%;
    padding: 0px;
}

.section .blogs-carousel-wrapper .blogs-carousel {
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog1 {
    position: relative;
    width: 100%;
}

.section .blogs-carousel-wrapper .blogs-carousel .swiper-slide {
    background: #fff;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog1 .subBlog1-bloginner1 img {
    height: 100%;
    border-radius: 8px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog1 .subBlog1-bloginner2 {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    pointer-events: none;
    /* Optional: click-through */
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog1 .subBlog1-bloginner2 h1 {
    margin: 0;
    padding: 0;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog2 {
    position: relative;
    width: 100%;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog2 .subBlog2-bloginner1 img {
    height: 100%;
    border-radius: 8px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog2 .subBlog2-bloginner2 h2 {
    position: absolute;
    top: 7%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    pointer-events: none;
    font-size: 28px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog2 .subBlog2-bloginner2 .button-container {
    right: 54px;
    width: 80%;
    bottom: 24px;
    background: #fff;
    display: block;
    border-color: #fff;
    color: #034EA2;
    padding: 12px 24px;
    position: absolute;
    top: 75%;
    left: 5%;
    height: 26px;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner1 {
    position: relative;
    width: 100%;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner1 p {
    margin: 0;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner1 p picture {
    line-height: 0;
    height: 100%;
    display: block;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner1 img {
    border-radius: 8px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner1 #check-your-cibil-score-for-free {
    position: absolute;
    bottom: 24px;
    left: 24px;
    line-height: 1.2;
    color: #fff;
    width: 80%;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner2 {
    width: 47%;
    max-height: 226px;
    background: #D2DCEB;
    border-radius: 8px;
    margin: 10px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner2 p {
    margin: 0;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner2 p:nth-child(1) {
    font-size: 16px;
    padding: 10px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner2 p:nth-child(2) {
    display: block;
    font-size: 24px;
    padding: 10px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner2 p:nth-child(3) {
    font-size: 12px;
    padding: 6px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner3 {
    width: 47%;
    margin: 0;
    position: relative;

}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner3 img {
    height: 220px;
    border-radius: 8px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog3 .subBlog3-bloginner3 p:nth-child(2) {
    position: absolute;
    padding: 5px;
    left: 12px;
    right: 24px;
    width: 80%;
    bottom: 40px;
    border: 1px solid;
    color: #034EA2;
    border-color: #034EA2;
    background-color: #fff;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog4.swiper-slide {
    /* display: inline !important; */
    flex-direction: column;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog4 .subBlog4-bloginner1 {
    position: relative;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog4 .subBlog4-bloginner1 img {
    width: 85rem;
    height: 150px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog4 .subBlog4-bloginner1 p:nth-child(2) {
    position: absolute;
    bottom: 10px;
    left: 30px;
    border: 1px solid;
    color: #034EA2;
    border-color: #034EA2;
    background-color: #fff;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
    padding: 5px 20px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog4 .subBlog4-bloginner2 {
    position: relative;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog4 .subBlog4-bloginner2 img {
    width: 85rem;
    height: 200px;
}

.section .blogs-carousel-wrapper .blogs-carousel .subBlog4 .subBlog4-bloginner2 #instant-loan-with-no-hidden-charges {
    position: absolute;
    font-size: 1.35rem;
    top: 13%;
    left: 8%;
    max-width: 195px;
    color: #fff;
}
.section .blogs-carousel-wrapper .blogs-carousel .subBlog4 .subBlog4-bloginner2 .button-container{
    position: absolute;
    top: 66%;
    left: 10%;
    border: 1px solid;
    color: #034EA2;
    border-color: #034EA2;
    background-color: #fff;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
    padding: 5px 20px;
}