.section.vida-warranty-card .warranty-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.section.vida-warranty-card .warranty-card.block {
    background-color: #ff5310;
    clip-path: polygon(0 0, 100% 0, 100% 72%, 94% 100%, 0 100%);
    border-radius: 1rem;
    max-height: 10.75rem;
    max-width: 38.875rem;
}

.section.vida-warranty-card .warranty-card.block .warranty-card {
    background: url('/images/card-bg-img-desktop.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a {
    padding: 3.375rem 2.71875rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 64px;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a  .warranty-card-title p {
    margin: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a .warranty-card-images span {
    display: inline-block;
    height: 64px;
    width: 64px;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a .warranty-card-images p {
    margin: 0;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a .warranty-card-images span img {
    height: 100%;
    width: 100%;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a .warranty-card-images p:first-child {
    display: block;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a .warranty-card-images p:last-child {
    display: none;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a .warranty-card-images:hover p:first-child {
    display: none;
}

.section.vida-warranty-card .warranty-card.block .warranty-card a .warranty-card-images:hover p:last-child {
    display: block;
}
