.section.heromodelview-container .heromodelview-wrapper .heromodelview .model-wrapper {
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 2.5rem;
    height: 100%;
}

.section.heromodelview-container .heromodelview-wrapper .heromodelview.block{
    height: 100%;
}


.section.heromodelview-container .heromodelview-wrapper {
    padding: unset;
    height: 850px;
}


.platform {
    background-color: #fff;
    border: .0625rem dashed rgb(0 0 0 / 40%);
    border-radius: 231.75px / 46.51px;
    height: 3.75rem;
    margin-top: -4.6875rem;
    position: relative;
    width: 300px;
    z-index: 1;
}

.image {
    min-height: 13.125rem;
    object-fit: none;
    position: relative;
    width: 18.75rem;
    z-index: 20;
}

.colors {
    gap: 15px;
    margin-top: 38px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualizer-color-text-wrapper .color-text {
    color: #222;
    font-family: 'PP Montreal Book',sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1rem;
    max-width: 500px;
    text-align: center;
}

.color{
    width: 24px !important;
    height: 24px !important;
    cursor: pointer;
}

.colors>div.active {
    border: .75px solid #222;
    width: 24px !important;
    height: 24px !important;
}

.colors>div {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.section.heromodelview-container.citypricedropdown-container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    height: 800px;
}

.section.heromodelview-container.citypricedropdown-container .model-wrapper>h1 {
    color: #222;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 1.5rem;

    /* padding-left: 1.5625rem; */
    padding-top: 3.25rem;
    margin: 0;
    font-family: "PP Montreal Medium",sans-serif;
}

.section.heromodelview-container.citypricedropdown-container .model-wrapper>p {
    color: #222;
    font-family: "PP Montreal Medium",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 68.125rem;
    margin: 0;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}


.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown {
    align-items: center;
    backdrop-filter: blur(2.5px);
    background: hsl(0deg 0% 100% / 50%);
    border-radius: 1pc;
    bottom: 2.3125rem;
    display: flex;
    flex-direction: column;
    gap: 2pc;
    height: fit-content;
    left: 52.3125rem;
    margin-bottom: 2.3125rem;
    padding: 2pc 1pc 1pc;
    width: 20rem;
}


.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left {
    color: #222;
    font-family: 'PP Montreal Book',sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left p {
    margin: 0;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search {
    /* background-image: url("../../icons/chevron-down.svg"); */

    /* align-items: center;
    appearance: none;
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    border: .0625rem solid #85888c;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    font-family: PP Neue Montreal;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    height: 2.25rem;
    line-height: normal;
    margin-top: .5rem;
    padding: .5rem;
    width: 9.375rem; */
    background: #fff;
    border: 1px solid #85888c;
    border-radius: .5rem;
    height: 2.25rem;
    max-width: 9.375rem;
    padding: .5rem;
    position: relative;
    margin-top: 8px;
    z-index: 3;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .arrow {
    position: absolute;
    right: .5rem;
    top: 55%;
    transform: translateY(-50%);
    z-index: -1;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .popup {
    position: absolute;
    right: 63px;
    top: 14px;
    background: #fff;
    padding: 16px;
    box-shadow: 1px 3px 4px 0 rgb(0 0 0 / 29%);
    border: 1px solid #969696 !important;
    border-radius: .75rem !important;
    color: #1d1b1b;
    font-size: 13px;
    max-width: 289px;
    z-index: 4;
    letter-spacing: 0.75px;
    font-family: "PP Montreal Thin",sans-serif;
}


.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .city-option-container {
    position: absolute;
    top: 55px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 0;
    width: 89%;
    /* padding: 0 1rem 1rem; */
    overflow: hidden scroll;
    /* max-height: 100%; */
    height: calc(89vh - 250px);
    scrollbar-width: thin;
    border: .0625rem solid #85888c;
    cursor: pointer;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .city-option-container .city-option {
    padding: 5px 10px;
    text-transform: capitalize;
}
.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .city-option-container .city-option:hover{
    background-color: #007BFF;
    color: #fff;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .input-city {
    border-radius: 8px;
    caret-color: transparent;
    height: 1.0625rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .amount {
    color: #222;
    font-family: "PP Montreal Medium",sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    font-weight: 600;
    margin: 0;

}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .amount .global-tooltip{
    width: 13px;
    height: 13px;
    margin-left: 3px;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .toolbar {
    color: var(--Primary-Vida-Orange, #ff5310);
    font-family: "PP Montreal Medium",sans-serif;
    font-size: 1pc;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding-top: .5rem;
    text-decoration: underline;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .price-text {
    color: #222;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: unset;
    font-family: 'PP Montreal Book',sans-serif;
}


.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .buy-btn {
    font-size: 1pc;
    font-weight: 600;
    align-items: center;
    background: #ff5310;
    border-radius: .5rem;
    box-shadow: 0 .46875rem .9375rem 0 rgb(0 0 0 / 10%);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: "PP Montreal Medium",sans-serif;
    height: 3.25rem;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .buy-btn .button {
    all: unset;
    
}


@media (width > 900px) {
    .section.heromodelview-container .heromodelview-wrapper {
        height: 780px;
        max-width: 1440px;
    }

    .platform {
        height: 5.8125rem;
        margin-top: -6.5625rem;
        width: 28.9375rem;
    }

    .image {
        min-height: 24.125rem;
        scale: 1.2;
        width: 31.25rem;
    }

    .section.heromodelview-container .heromodelview-wrapper .heromodelview .model-wrapper {
        padding: 0 5.5rem 43px;
        height: 780px;
    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper {
        position: absolute;
        right: 95px;
        top: 37%;
        margin: 0;
        padding: 0;
        height: auto;
        max-width: max-content;
        width: auto;
        left: unset;
        bottom: unset;
        transform: unset;
    }

    .section.heromodelview-container.citypricedropdown-container .model-wrapper>p {
        color: #222;
        font-family: "PP Montreal Medium",sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px;
        padding-bottom: 1rem;
        padding-left: 0;
    }

    .visualizer-color-text-wrapper .color-text {
        font-size: 1.125rem;
    }


    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown {
        max-width: 28.1875rem;
        min-width: 28.1875rem;
        padding: 2rem;

    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left {
        font-size: 18px;
    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search {
        /* background-position: right 1rem center;
        background-size: 1.875rem;
        font-size: 20px;
        font-weight: 500;
        height: 3.5rem;
        width: 14.25rem; */
        border: none;
        border-radius: unset;
        height: 3.5rem;
        height: auto;
        max-width: unset;
        padding: 0;
        z-index: 3;
    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .input-city {
        color: #222;
        font-family: "PP Montreal Medium",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: 1px solid #85888c;

        /* height: 54px; */
        padding: 17px 16px;
        width: 11.25rem;
        background: none;
        cursor: pointer;
    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .amount {
        font-size: 2rem;
    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .price-text {
        font-size: 1rem;
    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .right .toolbar {
        font-size: 1.25rem;
    }

    .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .buy-btn {
        font-family: "PP Montreal Medium",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 1rem;
        color: #fff;
        height: 4.5rem;
    }

}

.whats-included-container{
    background-color: #f1f5f8;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
}

.whats-included-container p{
    font-size: 20px;
    color: #ff5310;
    font-family: "PP Montreal Medium",sans-serif;
    margin: 0;
}

.whats-included-container ul{
    padding-left: 20px;
}

.whats-included-container ul li{
    padding-top: 20px;
    font-family: "PP Montreal Book",sans-serif;
}

@media (width < 768px){
   .section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .arrow{
    width: 21px;
    height: 21px;
   }

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .input-city{
    margin-top: 9px;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left{
    font-size: 14px;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown {
    margin-bottom: 0;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper .block.citypricedropdown .box-container .left .input-search .arrow{
    top: 50%;
}

.colors>div.active{
    width: 22px !important;
    height: 22px !important;
}

.color{
    width: 14px !important;
    height: 14px !important;
}

.whats-included-container{
    padding: 16px;
}

.whats-included-container p{
    font-size: 16px;
}

.whats-included-container ul{
    padding-left: 20px;
}

.whats-included-container ul li{
    padding-top: 0;
    font-size: 12px;
    padding-bottom: 10px;
}

.section.heromodelview-container .heromodelview-wrapper{
    height: 850px;
}

.section.heromodelview-container.citypricedropdown-container .citypricedropdown-wrapper{
    bottom: 3%;
}

.images{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section.heromodelview-container.citypricedropdown-container{
    height: auto;
}
}