.custom-dropdown {
  position: relative;
  width: 220px;
}

.custom-dropdown .dropdown-selected {
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 1rem 1.3333333333rem;
  box-shadow: inset 0 -1px #fff;
  text-align: left;
  cursor: pointer;
  border: 1px solid rgba(95, 107, 115, .34);
  border-bottom: 1px solid #364650;
  border-radius: .25rem;
  position: relative;
}

.custom-dropdown .dropdown-selected::after{
  content: '';
  position: absolute;
  top: 22px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(315deg);
  transition: transform 0.3s ease;
}

.custom-dropdown .dropdown-selected span {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400  ;
  margin-left: 8px;
}

.custom-dropdown .dropdown-options {
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  top: -274px;
  box-shadow: 0 0 2px #000c;
  display: none;
  max-height: 265px;
  overflow: auto;
  background-color: #fff;
}

.custom-dropdown ul {
  list-style: none;
}

.custom-dropdown ul li {
  padding: 1.3333333333rem 2rem;
  border-bottom: 1px solid #ECEDEE;
  cursor: pointer;
}

.custom-dropdown ul li:hover {
  background: #ecedeecc;
}

.custom-dropdown ul li a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400 ;
  color: rgb(3, 24, 36);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.custom-dropdown ul li a span {
  margin-left: 16px;
}

.custom-dropdown ul li a img{
  height: 12px;
  width: 18px;
}

.dropdown-options.show {
  display: block;
}

@media (width <=768px) {
  .custom-dropdown {
    width: 150px;
  }
  .custom-dropdown ul li a img {
    display: none;
  }
  .custom-dropdown ul li a span {
    margin-left: 0;
  }
}