@font-face {
    font-family: "TSTAR-PRO-Normal";
    src: url("/fonts/TSTAR-PRO-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Medium";
    src: url("/fonts/TSTAR-PRO-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Bold";
    src: url("/fonts/TSTAR-PRO-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Heavy";
    src: url("/fonts/TSTAR-PRO-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

.blogs-swiper-container {
    /*check this */
    background-color: #ededed;
}

main > .section > div {
    /*check this */
    max-width: 1440px;
    width: 100%;
    margin-top: 40px;
    padding: 0px;
}
.blogs-swiper {
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    padding: 40px 10px 40px 10px;
}

.swiper-wrapper {
    overflow: hidden;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.blogs-swiper>.cards-container>.swiper-wrapper >.swiper-slide {
    width: 471px;
    border-radius: 10px;
    background-color: #fff;
}

.swiper-slide > .images {
    max-width: 471px;
    width: 100%;
}
.swiper-slide > .images > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* min-height: 400px; */
}
.swiper-slide > .card-body {
    padding: 10px;
    border-radius: 20px;
    border-bottom: 5px solid red;
}
.swiper-slide > .card-body > h2 {
    font-family: "TSTAR-PRO-Heavy";
    color: #303030;
    margin-bottom: 8px;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0px;
}
.swiper-slide > .card-body > p {
    font-family: "TSTAR-PRO-Medium";
    color: #303030;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    min-height: 5rem;
}
.swiper-slide > .card-body > a {
    color: #009fda;
    font-weight: 700;
}
