@import url("../swiper/swiper.min.css");

.blogs-swiper-container {
    background-color: #ededed;
}
.blogs-swiper-container > .default-content-wrapper > h2 {
    font-style: italic;
    padding-bottom: 1.0625rem;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    font-family: "TSTAR-PRO-Heavy";
    line-height: 1.2;
}

.blogs-swiper-container > .blogs-swiper-wrapper {
    max-width: 1350px;
    width: 100%;
    background-color: #ededed;
    padding: 20px;
}
.blogs-swiper{
    max-width: 1350px;
    width: 100%;
    background-color: #ededed;
    padding: 20px;
}

/* Swiper container */
.blogs-swiper .swiper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 0; /* removed extra padding to place pagination below */
}

/* Swiper wrapper */
.blogs-swiper .swiper-wrapper {
    display: flex;
}

/* Each slide as a card */
.blogs-swiper .swiper-slide {
    max-width: 441px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    /* height: auto; */
    background-color: #fff;
    border-bottom: 4px solid red;
    /* min-height: 400px; */
    margin-right: 30px; /* space between cards */
}

/* Remove margin-right on last slide to avoid extra space */
.blogs-swiper .swiper-slide:last-child {
    margin-right: 0;
}

/* Image inside card */
.blogs-swiper .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    margin-bottom: 12px;
}

/* Swiper pagination below the cards */
.blogs-swiper .swiper-pagination {
    position: static; /* place pagination normally below slides */
    text-align: center;
    width: 100%;
    margin-top: 16px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.blogs-swiper .swiper-pagination-bullet {
    width: 2rem;
    height: 0.375rem;
    border-radius: 0;
    transform: skew(130deg);
    background: #c0c0c0;
    opacity: 1;
    margin: 0 4px;
    cursor: pointer;
}

.blogs-swiper .swiper-pagination-bullet-active {
    background-color: red;
}

/* Text: title */
.blogs-swiper > .swiper-wrapper > .swiper-slide > div:nth-child(2) > h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-family: "TSTAR-PRO-Heavy";
    color: #303030;
    margin-bottom: 8px;
    min-height: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* Text: description */
.blogs-swiper
    > .swiper-wrapper
    > .swiper-slide
    > div:nth-child(2)
    > p:nth-child(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-family: "TSTAR-PRO-Medium";
    color: #303030;
    margin-bottom: 8px;
    min-height: 4rem;
    font-size: 16px;
    line-height: 2rem;
}

/* Button styling */
.blogs-swiper
    > .swiper-wrapper
    > .swiper-slide
    > div:nth-child(2)
    > .button-container
    > a {
    background-color: white;
    color: #009fda;
    font-weight: 500;
    padding: 10px 0px 0px 0px;
    margin: 0px;
    border-radius: 0px;
    font-size: 1.125rem;
    letter-spacing: normal;
    line-height: 1.5rem;
}

.blogs-swiper .swiper-slide > div:nth-child(2) {
    padding: 0px 16px;
}

/* Responsive adjustments */
@media screen and (max-width: 1023px) {
    .blogs-swiper .swiper-slide {
        max-width: 320px;
        width: 100%; /* full width cards on tablets & phones */
        margin-right: 0; /* no gap needed when single card */
    }
}
