@import url("./swiper-bundle.min.css");

.swiper {
    width: 600px;
    height: 300px;
  }
  
.swiper img{
    height: 200px;
    width: 250px;
}

.swiper-container{
  display: flex;
  flex-direction: column-reverse;
}