/* header and nav layout */
header .nav-wrapper {
    background-color: var(--background-color);
    width: 100%;
    z-index: 10;
    position: fixed;
}

header nav {
    box-sizing: border-box;
    display: grid;
    grid-template:
        "nav-marquee nav-marquee nav-marquee"
        "brand brand brand"
        "tools tools hamburger";
    gap: 0 24px;
    margin: auto;
    height: var(--nav-height);
    font-family: var(--body-font-family);

    @media (width<900px) {
        gap: 0;
    }
}

header nav[aria-expanded="true"] {
    grid-template:
        "hamburger brand" var(--nav-height) "sections sections" 1fr
        "tools tools" var(--nav-height) / auto 1fr;
    overflow-y: auto;
    min-height: 100dvh;
}

@media (width >=900px) {
    header nav {}

    header nav[aria-expanded="true"] {
        display: grid;
        gap: 0;
        grid-template:
            "nav-top nav-top nav-top"
            "nav-marquee nav-marquee nav-marquee"
            "brand sections tools" / 0.5fr auto auto;
        min-height: 0;
        overflow: visible;
          box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.5);
    }
}

header nav p {
    margin: 0;
    line-height: 1;
}

header nav a:any-link {
    color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
    place-self: center;
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
    pointer-events: none;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: "";
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (width >=900px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

/* nav-top */
.nav-top {
    grid-area: nav-top;
    display: flex;
    align-items: center;
}

/* nav-marquee */
.nav-marquee {
    grid-area: nav-marquee;
}

/* brand */
header .nav-brand {
    grid-area: brand;
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
    text-align: right;

    @media (width>=900px) {
        margin-right: 16%;
        ;
    }

    @media (width<900px) {
        text-align: center;
    }
}

header nav .nav-brand img {
    width: 128px;
    height: auto;

    @media (width<900px) {
        width: 162px;
        height: 70px;
    }
}

/* sections */
header nav .nav-sections {
    grid-area: sections;
    flex: 1 1 auto;
    display: none;
    visibility: hidden;
}

header nav[aria-expanded="true"] .nav-sections {
    display: block;
    visibility: visible;
    align-self: start;
}

header nav .nav-sections ul {
    list-style: none;
    padding-left: 0;
    font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
    font-weight: 500;
}

header nav .nav-sections ul>li>ul {
    margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
    font-weight: 400;
}

@media (width >=900px) {
    header nav .nav-sections {
        display: block;
        visibility: visible;
        white-space: nowrap;
    }

    header nav[aria-expanded="true"] .nav-sections {
        place-self: center;
    }

    header nav .nav-sections .nav-drop {
        position: relative;
        padding-right: 16px;
        cursor: pointer;
    }

    header nav .nav-sections .nav-drop::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0.5em;
        right: 2px;
        transform: rotate(135deg);
        width: 6px;
        height: 6px;
        border: 2px solid currentcolor;
        border-radius: 0 1px 0 0;
        border-width: 2px 2px 0 0;
    }

    header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
        top: unset;
        bottom: 0.5em;
        transform: rotate(315deg);
    }

    header nav .nav-sections ul {
        display: flex;
        gap: 24px;
        margin: 0;
    }

    header nav .nav-sections .default-content-wrapper>ul>li {
        flex: 0 1 auto;
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul {
        display: none;
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul {
        display: block;
        position: absolute;
        left: -24px;
        width: 200px;
        top: 150%;
        padding: 16px;
        background-color: var(--light-color);
        white-space: initial;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 16px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--light-color);
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
        padding: 8px 0;
    }
}

/*nav-sections*/

.nav-sections>.default-content-wrapper>ul>.nav-drop>ul {
    background-color: #002a69 !important;
    color: white;
    border-radius: 24px;
    opacity: 0.9;
}

.nav-sections>.default-content-wrapper>ul .nav-drop>ul li {
    margin: 0px;
    padding: 5px;
}

.nav-sections>.default-content-wrapper>ul .nav-drop>ul li p a {
    background: none;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0px;
}

.nav-sections>.default-content-wrapper>ul .nav-drop ul li ul {
    display: none;
}

/* tools */
header nav .nav-tools {
    grid-area: tools;

    @media (width<900px) {
        padding-inline: 12px;
    }
}

#nav>div.section.form-container.nav-tools>div:nth-child(1) {
    flex-basis: 46%;
}

/* .nav-top  start*/
.nav-top {
    background: linear-gradient(0.25turn,
            rgb(195, 25, 34),
            70%,
            rgb(0, 54, 124)) !important;
    color: white;
    /* display: contents; */
}

.nav-top>.default-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-top>.default-content-wrapper>ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

.nav-top>.default-content-wrapper>ul:nth-child(1) {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 15px 6px;
}

.nav-top>.default-content-wrapper>ul>li {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    background-image: linear-gradient(#fff, #fff);
    background-position: 0 95%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.nav-top>.default-content-wrapper>ul>li>a {
    text-decoration: none;
}

.nav-top>.default-content-wrapper>ul>li:hover {
    background-size: 100% 1px;
}

.nav-top>.default-content-wrapper>ul:nth-child(1)>li>a {
    border-right: 1px solid white;
    padding-right: 5px;
    color: #fff;
    background-image: linear-gradient(#fff, #fff);
    background-position: 0 95%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    font-family: "Open Sans";
    font-size: 16px;
    text-decoration: none;
}

.nav-top>.default-content-wrapper>ul:nth-child(1)>li>a:hover {
    background-size: 100% 1px;
}

.nav-top>.default-content-wrapper>ul:nth-child(1)>li:last-child>a {
    border-right: none;
}

/*.nav-top  end */

/*start   nav-sections */

.nav-sections>.default-content-wrapper>ul>li>p>a {
    background: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #002a69;
    padding: 4px 19px;
    text-align: left;
    position: relative;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
    border-radius: 24px;
    margin: 0px;
}

header nav .nav-sections ul>.nav-drop>ul {
    padding: 30px;
    background-color: #002a69;
    color: white;
}

.button-container>p>a {
    background: none;
    list-style: none;
    text-decoration: none;
}

/* nav-tools */
.nav-tools {
    grid-area: nav-tools;
}

#search-form {
    display: flex;
    height: 53px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 0px;
    margin: 0px;
    background-color: #f5f5f5;

    @media (width<900px) {
        width: 35px;
        padding-left: 12px;
        border-radius: 50%;
        background-color: unset;
    }
}

#search-form>div:nth-child(1) {
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #B3B3B3;

    @media (width<900px) {
        border: none;
    }
}

#search-form>div:nth-child(1)>.button {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    margin: 0px;
    padding-inline: 25px;

    @media (width<900px) {
        background-color: #eae8e8;
        margin: 0px;
        padding-inline: 20px;
        height: 44px;
    }
}

#search-form>.text-wrapper {
    margin: 0px;
}

#search-form>div.field-wrapper.submit-wrapper>button>span {
    display: none;
}

#search-form>.field-wrapper>label {
    display: none;
}

#search-form>.field-wrapper>.button {
    background: none;
    color: black;
}

#search-form>.field-wrapper>input {
    background-color: #f5f5f5;
    font-size: 15px;
    height: 44px;
    padding: 2px 0px 2px 53px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    text-transform: capitalize;
    color: #002a69;
    min-width: 300px;
    outline: none;

    @media (width<900px) {
        display: none;
    }
}


/*login*/

form>.field-wrapper>label {
    display: none;
}

#login-dropdown-form>.field-wrapper>select {
    width: 140px;
    padding: 7px 10px 7px 15px;
    background: transparent;
    border: none;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: #ca0608;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: start;
    appearance: none;
    /* Remove default styling (works in most browsers) */
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

#login-dropdown-form>.field-wrapper {
    position: relative;
}

#login-dropdown-form>.field-wrapper::after {
    content: "\f078";
    font-family: "FontAwesome";
    position: absolute;
    top: 24%;
    right: 13%;
    font-size: 12px;
    background-color: white;
    color: red;
    z-index: 1;
    padding: 0px 4px;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: none;

    @media (width<900px) {
        top: 23%;
        right: 23%;
    }
}

#login-dropdown-form>.field-wrapper>select>option:hover {
    background-color: rgb(5, 5, 81);
}

#login-dropdown-form>.field-wrapper>select>option[disabled] {
    display: none;
}

#login-dropdown-form>.field-wrapper>select:hover {
    border: none;
}

#login-dropdown-form>.field-wrapper>label {
    display: none;
}

.form-container {
    max-width: 470px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container>div:nth-child(2)>.form>div>div>p:nth-child(2) {
    display: none;
}

.form-container>div:nth-child(2)>.form>div>div>p:nth-child(3) {
    display: none;
}