@import url("./nav-pane.css");
/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav:hover {
  grid-template:
    'hamburger brand' var(--nav-height) 'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

.header nav .nav-sections .default-content-wrapper>ul>li:first-child {
  /* width: 113px; */
  margin-right: 171px;
  display: inline-block;

  min-width: 60px;
  /* height: 50px; */
  padding: 0 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
  color: #981a1d;
  letter-spacing: -0.6px;
}

.header nav .nav-sections .default-content-wrapper>ul>li a {
  border-radius: 20px;
  background: #FFF;
  font-size: 15px;
  line-height: 120%;
  font-weight: 600;
  padding: 9px 12px;
  display: inline-block;
  color: #0b0b0b;
}

@media (width >=900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav:hover {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav .nav-hamburger-icon::before {
  top: -6px;
}

header nav .nav-hamburger-icon::after {
  top: 6px;
}

header nav:hover .nav-hamburger-icon {
  height: 22px;
}

header nav:hover .nav-hamburger-icon::before,
header nav:hover .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav:hover .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav:hover .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
  font-weight: 500;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 400;
}

@media (width >=900px) {
  .nav-wrapper nav {
    flex-wrap: wrap;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav:hover .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop:hover>p>a {
    color: #0056b3;
  }

  header nav .nav-sections .nav-drop:first-child ::after {
    /* content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0; */
    content: '';
    display: inline-block;
    position: absolute;
    top: 37%;
    right: 13px;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    rotate: 135deg;
  }

  header nav .nav-sections .nav-drop:hover::after {
    top: unset;
    bottom: 0.5em;
    /* transform: rotate(315deg); */
    color: #981a1d;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
    align-items: center;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: absolute;
  }

  header nav .nav-sections .default-content-wrapper>ul>li:not(:first-child):hover>ul {
    display: block;
  }

  header nav .nav-sections .default-content-wrapper>ul>li:hover>ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper>ul>li:hover p a {
    border-radius: 8px 8px 0px 0px;
    background: #f7f7f7;
    height: 28px ;
    box-shadow: 0px -2px 3.1px 0px rgba(0, 0, 0, .25);
    color: #661213;
    font-weight: bold;
    cursor: pointer;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    border-radius: 0px 4px 8px 8px;
    background: #fff;
    box-shadow: 0px 0px 6.8px 0px rgba(0, 0, 0, .25);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 0;
  }

  .nav-tools {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .sectionlast{
    align-items: none;
  }
  .nav-tools>div>p:first-child {
    border-radius: 19.5px;
    border: 1px solid #353535;
    background: #fff;
    padding: 9px 10px 9px 50px;
    width: 100%;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    height: 40px;
  }

  .nav-tools>div {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: unset;
  }

  .nav-tools>div>p:nth-child(2) {
    min-width: 70px;
    padding: 7px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
    color: #353535;
    border: 1px solid #353535;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0);
    margin-left: 15px;
    width: 30%;
    height: 25px;
  }

  .nav-tools>div>ul {
    display: flex;
    gap: 15px;
    padding: unset;
    list-style: none;

  }

  .nav-tools>div>ul>li>ul {
    list-style: none;
    padding: unset;
  }

  .nav-tools>div>ul {
    display: flex;
    gap: 15px;
    padding: unset;
    list-style: none;

  }

  .nav-tools>div>ul>li>ul {
    list-style: none;
    padding: unset;
    display: none;
    position: absolute;
  }

  .nav-tools>div>ul>li {
    position: relative;

  }

  .nav-tools>div>ul>li:hover>ul {
    display: block;
    margin-top: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border: none;
    left: auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    width: 500px;
  }

  .nav-tools>div>ul>li>p.button-container>a {
    margin: unset;
    min-width: 70px;
    padding: 7px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
    color: #353535;
    border: 1px solid #353535;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0);
  }

  .nav-tools>div>ul>li:not(:first-child)>p {
    min-width: 70px;
    padding: 8px 16px;
    font-weight: 500;
    height: 25px;
    font-size: 14px;
    color: #fff;
    background-color: #902a2c;
    margin-left: 12px;
    border-radius: 25px;
  }
}

 .top-nav-left .drop-down.rgt .dropdown-content {
    left: auto;
    right: 0px
}

.top-nav-left .dropdown-content {
    left: 0;
    top: 45px
}

.top-nav-left .dropdown-content.menu-cardList-cnt {
    min-width: 760px;
    max-height: 290px;
    overflow-y: scroll
}
@media(max-width: 1024px) {
    .top-nav-left .dropdown-content.menu-cardList-cnt {
        min-width: 550px
    }
}
.top-nav-left .dropdown-content.menu-cardList-cnt.two-col {
    height: 235px;
    min-width: 520px
}

.top-nav-left .dropdown-content.menu-cardList-cnt.two-col .grdiantCard {
    width: 46%
}

.top-nav-left .dropdown-content.onlinkList {
    padding: 0px;
    border-radius: 0 0 10px 10px
}

.top-nav-left .dropdown-content.onlinkList li {
    margin-bottom: 0px
}

.top-nav-left .dropdown-content.onlinkList li:last-child a {
    border-bottom: 0px
}

.top-nav-left .dropdown-content.onlinkList li a {
    display: -ms-flexbox;
    display: flex;
    padding: 18px 20px;
    border-bottom: solid 1px rgba(151, 151, 151, .2);
    -ms-flex-align: center;
    align-items: center
}

.top-nav-left .dropdown-content.onlinkList li a span {
    padding-right: 23px
}

.top-nav-left {
    opacity: 1;
    transition: opacity .3s ease;
    display: -ms-flexbox;
    display: flex
}

.top-nav-left>li {
    margin: 0;
    position: relative
}

.top-nav-left>li.active>a,
.top-nav-left>li:hover>a {
    font-weight: 700
}

.top-nav-left>li.active>a .icon-Down::before,
.top-nav-left>li:hover>a .icon-Down::before {
    color: #9d1d27;
    content: "î¤ƒ"
}

.top-nav-left>li>a {
    display: block;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    padding: 14px 30px 14px 0;
    height: 45px;
    color: #353535;
    white-space: nowrap;
    font-size: 14px
}
/* tools */
header nav .nav-tools {
  grid-area: tools;
}


