@media (width < 900px) {

  #nav {
    padding: 0;
  }

  header nav {
    height:  unset;
  }
  
  header nav .section.sectionlast {
    display: none;
  }

  header nav .nav-sections {
    position: fixed;
    top: 0;
    background: white;
    z-index: 100;
  }

  .nav-sections .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-sections .mm-top-in {
    height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
  }

  .nav-sections .mm-top-in .logo img {
    height: 34px;
    width: auto;
  }

  .nav-sections .default-content-wrapper>ul:first-child>li:first-child {
    display: flex;
    background: linear-gradient(131.93deg, #353535 0%, #000000 100%);
    padding: 15px;
    max-width: 100vw;
  }


  .nav-sections .default-content-wrapper>ul:first-child>li:first-child p {
    display: none;
  }

  .nav-sections .default-content-wrapper>ul:first-child>li:first-child>ul {
    display: flex;
    background: #000;
    border-radius: 24px;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .nav-sections .default-content-wrapper>ul:first-child>li:first-child>ul li a {
    background: transparent;
    color: white;
  }

  .nav-sections .tab-pane .top-nav-left {
    flex-direction: column;
  }

  .nav-sections .tab-pane .top-nav-left>li {
    padding: 20px 15px;
    position: relative;
    background: #f3f3f3;
    border-bottom: 1px solid #d8d8d8;
    font-size: 14px;
  }


  header nav .nav-sections .default-content-wrapper .tab-pane .top-nav-left>li > a{
    background: transparent;
    padding: 0;
    display: inline;
  }

 .nav-list-wrapper .dropdown-content {
    display: block;
 }
}


.nav-sections .cls-mm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.nav-sections .icon-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}

.nav-sections .icon-close:before,
.nav-sections .icon-close:after {
  content: '';
  position: absolute;
  left: 11px;
  top: 4px;
  width: 2px;
  height: 16px;
  background: #AF0000;
  border-radius: 2px;
}

.nav-sections .icon-close:before {
  transform: rotate(45deg);
}

.nav-sections .icon-close:after {
  transform: rotate(-45deg);
}