.section.pc-container.citypricedropdown-container .block.citypricedropdown {
    align-items: center;
    backdrop-filter: blur(2.5px);
    background: hsla(0, 0%, 100%, .5);
    border-radius: 1pc;
    bottom: 2.3125rem;
    display: flex;
    flex-direction: column;
    gap: 2pc;
    height: fit-content;
    left: 52.3125rem;
    margin-bottom: 2.3125rem;
    width: 20rem;
    background-color: #f1f5f8;
    border-radius: .5rem;
    margin: 0 auto;
    max-width: 36.875rem;
    padding: 1rem;
}


.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left {
    color: #222;
    font-family: PP Neue Montreal;
    font-size: 9pt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left p {
    margin: 0;
}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search {
    /* background-image: url("../../icons/chevron-down.svg"); */
    /* align-items: center;
    appearance: none;
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    border: .0625rem solid #85888c;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    font-family: PP Neue Montreal;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    height: 2.25rem;
    line-height: normal;
    margin-top: .5rem;
    padding: .5rem;
    width: 9.375rem; */
    background: #fff;
    border: 1px solid #85888c;
    border-radius: .5rem;
    height: 2.25rem;
    max-width: 9.375rem;
    padding: .5rem;
    position: relative;
    margin-top: 8px;
    z-index: 3;
}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search .arrow {
    position: absolute;
    right: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}


.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search .city-option-container {
    position: absolute;
    top: 64px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 0;
    width: 89%;
    padding: 0 1rem 1rem;
    overflow-y: scroll;
    /* max-height: 100%; */
    height: calc(89vh - 250px);
    scrollbar-width: thin;
    overflow-x: hidden;
}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search .input-city {
    border-radius: 8px;
    caret-color: transparent;
    height: 1.0625rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .right .amount {
    color: #222;
    font-family: PP Neue Montreal;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    margin: 0;

}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .right .toolbar {
    color: var(--Primary-Vida-Orange, #ff5310);
    font-family: PP Neue Montreal;
    font-size: 1pc;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding-top: .5rem;
    text-decoration: underline;
}

.popup {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    padding: 16px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, .2901960784);
    border: 1px solid #969696 !important;
    border-radius: .75rem !important;
    color: #1d1b1b;
    font-size: 13px;
    max-width: 289px;
    z-index: 2;
    visibility: hidden;
}


.section.pc-container.citypricedropdown-container .block.citypricedropdown .buy-btn {
    color: var(--Neutral-Dark-Grey, #222);
    font-size: 1pc;
    font-weight: 600;
    align-items: center;
    background: #ff5310;
    border-radius: .5rem;
    box-shadow: 0 .46875rem .9375rem 0 rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: PP Neue Montreal;
    height: 3.25rem;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .buy-btn .button {
    all: unset;
}

.section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search .city-option-container .city-option {
    border-bottom: 1px solid #85888c;
    max-width: 100%;
    padding: 1rem;
}

@media (width > 900px) {

    .section.pc-container.citypricedropdown-container .block.citypricedropdown {
        max-width: 28.1875rem;
        min-width: 28.1875rem;
        padding: 1.625rem 4.5rem;

    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left {
        font-size: 18px;
    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search {
        /* background-position: right 1rem center;
        background-size: 1.875rem;
        font-size: 20px;
        font-weight: 500;
        height: 3.5rem;
        width: 14.25rem; */
        border: none;
        border-radius: unset;
        height: 3.5rem;
        height: auto;
        max-width: unset;
        padding: 0;
        z-index: 3;
    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .right .price-text {
        color: #222;
        font-size: .75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: unset;
    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search .input-city {
        color: #222;
        font-family: PP Neue Montreal;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: #fff;
        border: 1px solid #85888c;
        /* height: 54px; */
        padding: 17px 16px;
        width: 11.25rem;
        overflow: scroll;
        scrollbar-width: none;
        background:none;
        cursor: pointer;
    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .right .amount {
        font-size: 2rem;
    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .right .price-text {

        font-size: 1rem;
    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .right .toolbar {
        font-size: 1.25rem;
    }

    .section.pc-container.citypricedropdown-container .block.citypricedropdown .buy-btn {
        font-family: PP Neue Montreal;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 1rem;
        color: #fff;
        height: 4.5rem;
    }
    .citypricedropdown-wrapper{
        padding: 0;
    }

}
@media (width < 768px){
    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search .arrow{
        width: 21px;
        height: 21px;
    }
    .section.pc-container.citypricedropdown-container .block.citypricedropdown .box-container .left .input-search .input-city{
        margin-top: 9px;
    }
        .citypricedropdown-wrapper{
        padding: 0 !important;
    }

}