.section.comparison-of-plans-container {
    .comparison-of-plans-wrapper {
        padding: 0;

        @media screen and (max-width: 768px) {
            padding: 0 20px;
        }

        .comparison-of-plans {
            &>div>div:first-child {
                margin: 32px 0;
                text-align: center;

                p {
                    font-family: "HelveticaNeueBold";
                    font-weight: 700;
                    font-size: 36px;
                    color: #333333;
                    line-height: 24px;

                    @media screen and (max-width: 768px) {
                        font-size: 1.25rem;
                        text-align: left;
                    }
                }
            }

            &>div>div:nth-child(2) {
                >ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: grid;
                    grid-template-columns: 1fr 2fr 2fr;
                    border: 2px solid #4197d3;
                    border-right: 0;
                    border-bottom: 0;
                    overflow: auto;
                    // border-radius: 13px;

                    &>li:first-child,
                    &>li:nth-child(2),
                    &>li:nth-child(3) {
                        background: #0073BB;
                        color: #FFF !important;
                        font-family: "Inter-Bold";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -0.16px;
                        align-content: center;

                        // border-radius: 10px 10px 0px 0px;
                        strong {
                            color: #FFF !important;
                            font-size: 1rem;

                            // @media screen and (max-width: 768px) {
                            //     font-size: 12px;
                            // }
                        }
                    }

                    li {
                        color: #58595b;
                        font-family: 'HelveticaNeueRoman';
                        font-size: 16px;
                        font-weight: 400;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        list-style: none;
                        text-align: center;
                        padding: 15px;
                        border-bottom: 2px solid #A7A9AC;
                        border-right: 2px solid #A7A9AC;

                        // @media screen and (max-width: 768px) {
                        //     padding: 8px;
                        //     font-size: 13px !important;
                        // }

                        h6 {
                            display: none;
                        }

                        p {
                            color: #333;
                            font-family: 'Inter-Regular';
                            font-size: 0.875rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.14px;

                            strong {
                                color: #333;
                                font-family: 'Inter-Bold';
                                font-weight: 700;
                            }

                            // @media screen and (max-width: 768px) {
                            //     font-size: 12px;
                            // }
                        }

                        ul {
                            border: none;
                            padding: 0;
                            margin: -15px;

                            &>li:first-child,
                            &>li:nth-child(3) {
                                color: #58595B;
                                text-align: center;
                                font-family: "Inter-Bold";
                                font-size: 0.75rem;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                letter-spacing: -0.12px;
                                background-color: #F6F6F6;
                                padding: 4.5px 16px;
                            }

                            &>li:nth-child(3) {
                                border-top: 1px solid #A7A9AC;
                            }

                            li {
                                border: none;
                                color: #58595B;
                                text-align: center;
                                font-family: "Inter-Regular";
                                font-size: 0.75rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: -0.12px;
                                background-color: #FFF;
                                padding: 4.5px 16px;

                            }

                        }
                    }

                    .button-container {
                        margin: -10px;

                        // @media screen and (max-width: 768px) {
                        //     margin: 0;
                        // }

                        .button {
                            margin: 0;
                            padding: 0;
                            border-radius: 8px;
                            background: linear-gradient(90deg, #0073BB 100%, #D62049 100%);
                            color: #FFF;
                            text-align: center;
                            font-family: Inter-Bold;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: -0.14px;
                            width: 100%;
                            padding: 17px 5px;
                            display: block;

                            @media screen and (max-width: 768px) {
                                padding: 9px 5px;
                            }
                        }
                    }
                }
            }

            &>div>div:nth-child(3) {
                margin: 55px 0;
                display: flex;
                flex-direction: column;
                // gap: 10px;

                p {
                    color: #333;
                    font-family: 'HelveticaNeueRoman';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: -0.18px;

                    strong {
                        color: #0073BB;
                    }
                }
            }
        }
    }
}