.grecaptcha-badge {
    display: none !important
}

.hp-new-padding-desk {
    padding-top: 96px
}

.hp-new-padding-mob {
    padding-top: 68px
}

.destini-banner {
    position: relative;
    overflow: hidden
}

@media(max-width: 767px) {
    .destini-banner {
        padding-bottom:3rem;
        background-color: #f3f3f3
    }
}

.destini-banner .animate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.destini-banner .first {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.destini-banner .second {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.destini-banner .third {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

@media(max-width: 767px) {
    .destini-banner .third {
        -webkit-animation-delay:2.25s;
        animation-delay: 2.25s
    }
}

.destini-banner .fourth {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s
}

@media(max-width: 767px) {
    .destini-banner .fourth {
        -webkit-animation-delay:3s;
        animation-delay: 3s
    }
}

.destini-banner .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

.destini-banner .fadeInTopToBottom {
    -webkit-animation-name: fadeInTopToBottom;
    animation-name: fadeInTopToBottom
}

.destini-banner .fadeInRight {
    -webkit-animation-name: fadeInRightBanner;
    animation-name: fadeInRightBanner
}

.destini-banner .fadeInUpWrap {
    -webkit-animation-name: fadeInUpWrap;
    animation-name: fadeInUpWrap
}

.destini-banner .picture-banner {
    display: block;
    width: 100%
}

.destini-banner .picture-banner img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.destini-banner .banner-header-new {
    font-family: "Montserrat-Black";
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    top: 7%;
    left: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#A16A66), to(rgba(161, 106, 102, 0.3))) !important;
    background: linear-gradient(180deg, #A16A66 0%, rgba(161, 106, 102, 0.3) 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: rgba(0,0,0,0);
    visibility: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.destini-banner .banner-header-new.xoom-125-text {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))) !important;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: rgba(0,0,0,0)
}

.destini-banner .banner-header-new.pleasure-text {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11.25%, #00235B), color-stop(86.25%, rgba(0, 35, 91, 0))) !important;
    background: linear-gradient(180deg, #00235B 11.25%, rgba(0, 35, 91, 0) 86.25%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: rgba(0,0,0,0)
}

@media(max-width: 1100px) {
    .destini-banner .banner-header-new {
        font-size:42px;
        line-height: 58px
    }
}

@media(max-width: 767px) {
    .destini-banner .banner-header-new {
        font-size:38px;
        line-height: 38px;
        top: 12%
    }
}

@media(max-width: 576px) {
    .destini-banner .banner-header-new {
        width:70%;
        text-align: center
    }
}

.destini-banner .destini-icon-img {
    position: absolute;
    bottom: 14.3%;
    right: 10%;
    width: 403px;
    height: 110px;
    visibility: hidden
}

@media(max-width: 1100px) {
    .destini-banner .destini-icon-img {
        font-size:42px;
        line-height: 58px
    }
}

@media(max-width: 767px) {
    .destini-banner .destini-icon-img {
        display:none
    }
}

.destini-banner .picture-vehicle {
    display: block;
    width: 100%
}

.destini-banner .picture-vehicle img {
    position: absolute;
    top: 14%;
    left: 22.5%;
    z-index: 1;
    width: 46.047%;
    visibility: hidden
}

@media(max-width: 1250px) {
    .destini-banner .picture-vehicle img {
        width:44%
    }
}

@media(max-width: 950px) {
    .destini-banner .picture-vehicle img {
        width:40%
    }
}

@media(max-width: 767px) {
    .destini-banner .picture-vehicle img {
        width:72.78%;
        top: 31%;
        left: 13.5%
    }
}

@media(max-width: 340px) {
    .destini-banner .picture-vehicle img {
        width:69.78%
    }
}

.destini-banner .banner-ctas {
    background-color: #f3f3f3;
    width: 76%;
    height: 89px;
    left: 10%;
    position: absolute;
    bottom: -1px;
    border-radius: 24px 24px 0 0;
    padding: 16px 32px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas {
        height:48px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 84%;
        left: 8%;
        border-radius: 12px 12px 0 0;
        padding: 7px 16px;
        bottom: 51px;
        gap: 14px
    }
}

.destini-banner .banner-ctas .text-wraps {
    visibility: hidden
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas .text-wraps {
        text-align:center
    }
}

.destini-banner .banner-ctas .text-wraps .text-price {
    font-family: "Montserrat-Medium";
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 400;
    color: #303030
}

@media(max-width: 950px) {
    .destini-banner .banner-ctas .text-wraps .text-price {
        font-size:18px;
        line-height: 28px
    }
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas .text-wraps .text-price {
        font-size:14px;
        line-height: 19.6px
    }
}

.destini-banner .banner-ctas .text-wraps .text-price span {
    font-family: "Montserrat-Bold";
    font-weight: 700
}

.destini-banner .banner-ctas .text-wraps .text-label {
    font-family: "Montserrat-Medium";
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 500;
    color: #303030
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas .text-wraps .text-label {
        font-size:10px;
        line-height: 14px
    }
}

.destini-banner .banner-ctas .button-wraps {
    gap: 32px;
    visibility: hidden
}

@media(max-width: 950px) {
    .destini-banner .banner-ctas .button-wraps {
        gap:22px
    }
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas .button-wraps {
        gap:16px;
        visibility: visible;
        width: 100%
    }
}

.destini-banner .banner-ctas .button-wraps .button--secondary {
    padding: 9px 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    font-family: "Montserrat-Bold";
    font-weight: 600
}

@media(max-width: 950px) {
    .destini-banner .banner-ctas .button-wraps .button--secondary {
        padding:9px 16px
    }
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas .button-wraps .button--secondary {
        padding:7px 12px;
        height: 36px;
        width: 100%
    }
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas .button-wraps .button--secondary span {
        font-family:"Montserrat-Medium";
        font-weight: 600;
        font-size: 14px;
        line-height: 20px
    }
}

.destini-banner .banner-ctas .button-wraps .button--primary {
    padding: 9px 32px;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 48px;
    font-family: "Montserrat-Bold";
    font-weight: 600;
    text-align: center;
    background: linear-gradient(96deg, #AC0000 0%, #F00 26.35%, #FF3B3B 50.83%, #F00 72.71%, #F00 100%) !important
}

@media(max-width: 950px) {
    .destini-banner .banner-ctas .button-wraps .button--primary {
        padding:9px 16px
    }
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas .button-wraps .button--primary {
        padding:7px 22px;
        font-family: "Montserrat-Medium";
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        height: 36px;
        width: 100%
    }
}

.destini-banner .banner-ctas .button-wraps .extend-width-ctas {
    width: 44%
}

.destini-banner .banner-ctas .mobile-fixed-ctas {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    padding: 16px 0;
    left: 0;
    -webkit-box-shadow: 0px -4px 12px -1px rgba(148,148,148,.25);
    box-shadow: 0px -4px 12px -1px rgba(148,148,148,.25)
}

.destini-banner .banner-ctas:before {
    content: "";
    position: absolute;
    left: -39px;
    bottom: 0;
    height: 50px;
    width: 40px;
    border-bottom-right-radius: 50%;
    background: rgba(0,0,0,0);
    -webkit-box-shadow: 25px 0 0 0 #f3f3f3;
    box-shadow: 25px 0 0 0 #f3f3f3
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas:before {
        left:-29.5px;
        height: 27px;
        width: 30px;
        -webkit-box-shadow: 15px 0 0 0 #f3f3f3;
        box-shadow: 15px 0 0 0 #f3f3f3
    }
}

.destini-banner .banner-ctas:after {
    content: "";
    position: absolute;
    right: -39px;
    bottom: 0;
    height: 50px;
    width: 40px;
    border-bottom-left-radius: 50%;
    background: rgba(0,0,0,0);
    -webkit-box-shadow: -15px 0px 0 0 #f3f3f3;
    box-shadow: -15px 0px 0 0 #f3f3f3
}

@media(max-width: 767px) {
    .destini-banner .banner-ctas:after {
        right:-29.5px;
        height: 27px;
        width: 30px;
        -webkit-box-shadow: -15px 0 0 0 #f3f3f3;
        box-shadow: -15px 0 0 0 #f3f3f3
    }
}

#new-destini-125 .productselector .weight-medium,#new-destini-125 .pdp-header .weight-medium {
    font-family: "Montserrat-Medium"
}

#new-destini-125 .productselector .weight-heavy,#new-destini-125 .pdp-header .weight-heavy {
    font-family: "Montserrat-Black"
}

#new-destini-125 .productselector .weight-bold,#new-destini-125 .pdp-header .weight-bold {
    font-family: "Montserrat-Bold"
}

#new-destini-125 .productselector .weight-regular,#new-destini-125 .pdp-header .weight-regular {
    font-family: "Montserrat-Regular"
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        visibility: visible
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        visibility: visible
    }
}

@-webkit-keyframes fadeInRightBanner {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        visibility: visible
    }
}

@keyframes fadeInRightBanner {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        visibility: visible
    }
}

@-webkit-keyframes fadeInUpWrap {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        visibility: visible
    }
}

@keyframes fadeInUpWrap {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        visibility: visible
    }
}

@-webkit-keyframes fadeInTopToBottom {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        visibility: visible
    }
}

@keyframes fadeInTopToBottom {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        visibility: visible
    }
}
