.section.product-banner-container .product-banner-wrapper {
    max-width: 96%;
    padding: 0 5rem;
    margin-top: 55px;
}


.section.product-banner-container .product-banner-wrapper .product-banner.block>div {
    display: flex;
}

.colors-container {
    max-height: 326px;
    overflow-y: auto;
}

.radio-wrap input[type=radio]+label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    border: .0625rem solid silver;
    border-radius: 50%;
    margin-top: .25rem;
    outline: .0625rem solid rgba(0, 0, 0, 0);
}

.radio-wrap input[type=radio]:checked+label::before {
    background-color: #ee2326;
    border: 5px solid #ee2326;
    -webkit-animation: radio-circle .4s ease-out forwards;
    animation: radio-circle .4s ease-out forwards;
    outline: .0625rem solid #d30000;
    width: 11px;
    height: 11px;
}

@keyframes radio-circle {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        -webkit-box-shadow: .633333px .633333px 1.26667px rgba(255, 0, 0, .25), inset 0px 2.53333px 2.53333px rgba(255, 0, 0, .25);
        box-shadow: .633333px .633333px 1.26667px rgba(255, 0, 0, .25), inset 0px 2.53333px 2.53333px rgba(255, 0, 0, .25);
    }
}

input.position-absolute {
    visibility: hidden;
    position: absolute;
}
