#tabpanel-single-trip {
    padding: 0;
}

#tabpanel-single-trip > div > div > div > form > div:nth-child(2),
#tabpanel-single-trip
    > div
    > div
    > div
    > div
    > div
    > p:nth-child(1)
    > form
    > div:nth-child(2),
#tabpanel-single-trip
    > div
    > div
    > div
    > div
    > div
    > p:nth-child(1)
    > form
    > div.field-wrapper.button-wrapper,
#tabpanel-single-trip
    > div
    > div
    > div
    > form
    > div.field-wrapper.button-wrapper {
    margin-top: 0;
}

#single-trip>div:nth-child(5),
#single-trip>div:nth-child(6) {
    padding-left: 2px;
}

#tabpanel-single-trip > div {
    grid-template-columns: none;
}

#tabpanel-single-trip #form-wrapradio {
    padding: 3.3rem 2rem 2rem;
    border-width: 0 1px;
    border-style: solid;
    border-color: #c9c9c9;
}

#tabpanel-single-trip #form-wrapradio input {
    transform: scale(1.4);
    accent-color: #f26624;
}

#tabpanel-single-trip #form-wrapradio label {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
}

#form-wrap-geography {
    display: flex;
    gap: 10px;
    padding: 2rem;
    border-width: 0 1px;
    border-style: solid;
    border-color: #c9c9c9;
}

#form-wrap-geography .field-wrapper {
    flex: 1;
    display: block;
}

#form-wrap-geography input[type="radio"] {
    position: absolute;
    opacity: 0;
}

#form-wrap-geography label {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    line-height: 16px;
    font-weight: 600;
    color: #282828;
}

#form-wrap-geography label > div {
    width: 50px;
    height: 55px;
    padding: 1rem 1.3rem;
    box-sizing: content-box;
    background-color: transparent;
    border: 2px solid #c9c9c9;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#form-wrap-geography input[type="radio"]:checked + label > div {
    background-color: #ec6625;
    border: 2px solid #ec6625;
}

#form-geographical-scope-label {
    display: none;
}

#form-geographical-scope {
    font-size: 1.2rem;
    border-bottom: 1px solid;
    cursor: pointer;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: underline;
    border: none;
    text-underline-offset: 2px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #c9c9c9;
    border-radius: 0 0 1rem 1rem;
    padding-bottom: 2rem;
    outline: none;
}

#form-geographical-scope:hover {
    color: #928f8e;
}

#single-trip > .field-wrapper.fieldset-wrapper > #form-wrapdate {
    display: flex;
}

#single-trip > .field-wrapper.fieldset-wrapper > #form-wrapdate > div {
    border: none;
    border-radius: 5px;
    height: auto;
    padding-top: 0;
    /* margin-right: 2rem; */
    padding-left: 0;
    position: relative;
    width: 100%;
}

#single-trip > .field-wrapper.fieldset-wrapper > #form-wrapdate > div > label {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: #838383;
    position: absolute;
    left: 17px;
    background-color: #fff;
    transition: 0.3s;
    pointer-events: none;
}

#single-trip > .field-wrapper.fieldset-wrapper > #form-wrapdate > div > input {
    border: 1px solid #c9c9c9;
    color: #282828;
    width: 100%;
    outline: none;
}

#single-trip
    > .field-wrapper.fieldset-wrapper
    > #form-wrapdate
    > div
    > input[type="date"]::-webkit-datetime-edit {
    color: transparent;
}

#single-trip
    > .field-wrapper.fieldset-wrapper
    > #form-wrapdate
    > div
    > input[type="date"]:focus::-webkit-datetime-edit {
    color: black;
}

#single-trip > .field-wrapper.checkbox-wrapper {
    margin-left: 3px;
} 

#single-trip > .field-wrapper.checkbox-wrapper > label {
    font-size: 1.4rem;
}

/* stylelint-disable-next-line CssSyntaxError */
.section#single-trip > div.field-wrapper.checkbox-wrapper.selection-wrapper{
    margin-top: 15px;
} 


#single-trip>div.field-wrapper.plaintext-wrapper {
    font-size: 1.2rem;
    color: #575757;
    line-height: normal;
    padding: 0 3rem 3rem;
}

form#single-trip>div:nth-child(6){
    margin-top: 15px !important;
}

form#single-trip>div.selection-wrapper {
    margin-top: 15px !important;
}

#single-trip > div.field-wrapper.submit-wrapper{
    margin-top: unset;
    display: block;
    
}

#single-trip > div.field-wrapper.submit-wrapper > button{
    color: #fff;
}
#single-trip>div.field-wrapper.submit-wrapper {
    margin: 0;
}

#single-trip>div.field-wrapper.submit-wrapper .button {
    max-width: 100%;
    color: #fff;
    margin: 0;
    padding: 1.1rem 2.4rem;
    font-size: 1.6rem;
    background: #ec6625;
    border-radius: 5px;
    border: 3px solid transparent;
    margin: unset;
    width: 100%;
    max-width: 100%;
}

#single-trip > .il-selctcountry-block{
    display: flex;
    gap: 10px;
    padding: 2rem; 
    flex-direction: column;
    border: 1px solid #c9c9c9;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    padding-top: unset;
}

#single-trip > .il-selctcountry-block> .default-content-wrapper{
    width: 100%;
}

#single-trip > .il-selctcountry-block> .default-content-wrapper > h3{
    padding: 0 0 1.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #282828;
}

#single-trip > .il-selctcountry-block> .default-content-wrapper > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

#single-trip > .il-selctcountry-block> .default-content-wrapper > ul > li{
    background: #f5f6f6; 
    border-radius: 5px;
    cursor: pointer;
    padding: .6rem 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #282828;
}

#single-trip > .il-selctcountry-block> .il-input-block{
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    min-height: 54px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 7px 12px 13px 17px;
    position: relative;
} 

#single-trip > .il-selctcountry-block> .il-input-block > label{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: #838383;
    position: absolute;
    left: 17px;
    top: 17px;
    background-color: #fff;
    transition: .3s;
    pointer-events: none;
    z-index: 5;
    width: 90%;
}

#single-trip > .il-selctcountry-block > .il-input-block > .search-country-input:focus + label,
#single-trip > .il-selctcountry-block > .il-input-block > .search-country-input:not(:placeholder-shown) + label {
    top: -8px;
    font-size: 1.2rem;
    color: #000;
    background: #fff;
    padding: 0 5px;
    width: fit-content;
}

#single-trip > .il-selctcountry-block> .il-input-block > .search-country-input{ 
    padding: 7px 0 0;
    display: inline-block; 
    /* border: 1px solid #c9c9c9; */
    border-radius: 5px;
    background: #fff; 
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #282828;
    border: none;
    outline: none;

} 



#tabpanel-single-trip > div > div.default-content-wrapper{
    display: none;
}


