/* Individual insurance Teaser CSS */
.section.individual-insurance-teaser {
    margin: 0;
    padding-top: 15px;
}

.section.individual-insurance-teaser .default-content-wrapper {
    text-align: center;
    margin-bottom: 33px;
}

.section.individual-insurance-teaser .teaser.block {
    display: flex;
    flex-wrap: wrap;
}

.section.individual-insurance-teaser .teaser.block a {
    flex: 1;
    text-decoration: none;
    padding: 35px 8px;
}

.section.individual-insurance-teaser .teaser.block a:hover {
    background-color: rgb(238, 242, 245);
    border-radius: 5px;
}

.section.individual-insurance-teaser .teaser.block a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section.individual-insurance-teaser .teaser.block a .teaser-image {
    width: 220px;
    height: 220px;
    transition: all .25s ease-in-out;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.section.individual-insurance-teaser .teaser.block a .teaser-image::before {
    content: "";
    border-radius: 100%;
    box-shadow: 0 0 0 32px #fff;
    width: 220px;
    height: 220px;
    position: absolute;
    left: 0;
    z-index: 9;
    transform: translate3d(0, 0, 0);
    transition: all .25s ease-in-out;
}

.section.individual-insurance-teaser .teaser.block a .teaser-image img {
    width: 100%;
    height: 100%;
}

.section.individual-insurance-teaser .teaser.block .teaser-content {
    text-align: center;
}

.section.individual-insurance-teaser .teaser.block .teaser-content h4 {
    color: rgb(77, 110, 130);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    margin: 21px 0 3px;   
}

.section.individual-insurance-teaser .teaser.block .teaser-content p {
    margin: 3px 0 27px;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(132, 157, 171);
}

.section.individual-insurance-teaser .teaser.block .teaser-content p.button-container {
    margin: 0;
}

.section.individual-insurance-teaser .teaser.block .teaser-content p.button-container a {
    margin: 0;
    background-color: rgb(77, 110, 130);
    color: #fff;
    padding: 15px 26px;
    position: relative;
    border-radius: 100px;
}

.section.individual-insurance-teaser .teaser.block a:hover .teaser-content p.button-container a {
    padding-right: 40px;
    transition: all 0.25s ease-in-out;
}

.section.individual-insurance-teaser .teaser.block .teaser-content p.button-container a::after {
    content: url('/images/arrow-icon.svg');
    position: absolute;
    right: 21px;
    width: 8px;
    height: 10px;
    opacity: 0;
}

.section.individual-insurance-teaser .teaser.block a:hover .teaser-content p.button-container a::after {
    opacity: 1;
}

@media (width <= 768px) {
    .section.individual-insurance-teaser {
        padding: 40px 0;
    }

    .section.individual-insurance-teaser .teaser-wrapper {
        padding: 0;
    }

    .section.individual-insurance-teaser .teaser.block a {
        padding: 35px 0;
        border-bottom: 2px solid #dae1e6;
    }

    .section.individual-insurance-teaser .teaser.block .teaser-content {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .section.individual-insurance-teaser .teaser.block .teaser-content p.button-container a {
        border-bottom: none;
    }
}


