@import url("../our-bestselling-term/swiper-bundle.min.css");
main > .section.our-bestselling-term-container {
  margin: 0;
  padding: 0;
  max-width: 79.3%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  main > .section.our-bestselling-term-container {
    width: auto;
    padding: 0;
    max-width: 90%;
  }
}
main > .section.our-bestselling-term-container p {
  margin: 0;
  padding: 0;
}
main > .section.our-bestselling-term-container .custom-richtext-wrapper {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
main > .section.our-bestselling-term-container .custom-richtext-wrapper .custom-richtext h1,
main > .section.our-bestselling-term-container .custom-richtext-wrapper .custom-richtext h2,
main > .section.our-bestselling-term-container .custom-richtext-wrapper .custom-richtext h3,
main > .section.our-bestselling-term-container .custom-richtext-wrapper .custom-richtext h4,
main > .section.our-bestselling-term-container .custom-richtext-wrapper .custom-richtext h5,
main > .section.our-bestselling-term-container .custom-richtext-wrapper .custom-richtext h6 {
  color: #333;
  font-family: "HelveticaNeueBold";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.36px;
  margin: 0;
  padding-bottom: 10px;
  display: block;
}
main > .section.our-bestselling-term-container .custom-richtext-wrapper .custom-richtext p {
  color: #333;
  font-family: "HelveticaNeueRoman";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term {
  overflow: hidden;
  padding-bottom: 35px;
  height: auto;
  position: unset;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper {
  height: 460px;
}
@media (max-width: 768px) {
  main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper {
    margin-left: 2px;
  }
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide {
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #f2f7fb;
  position: relative;
  width: 368px !important;
  display: inline-block;
  border: 1px solid #E6E7E8;
  margin-top: unset;
  height: auto;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child {
  font-weight: 700;
  font-size: 17px;
  overflow: hidden;
  color: #333333;
  line-height: normal;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:first-child {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 20px;
  min-height: 75px;
  position: relative;
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 24px;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:first-child:hover {
  border-left: 1px solid rgba(65, 151, 211, 0.5019607843);
  border-right: 1px solid rgba(65, 151, 211, 0.5019607843);
  border-top: 1px solid rgba(65, 151, 211, 0.5019607843);
  border-radius: 20px 20px 0 0;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:first-child li {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.007em;
  color: #58595B;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:first-child li:last-child {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.007em;
  color: #58595B;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) {
  box-shadow: 0px 0px 5px rgba(88, 89, 91, 0.15);
  border-radius: 20px;
  background-color: #ffffff;
  padding: 16px 20px 0px 20px;
  min-height: 351px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 92%;
  left: -5px;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2):hover {
  box-shadow: 0px 0px 5px rgba(92, 94, 100, 0.69);
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:first-child {
  display: flex;
  flex-direction: column;
  height: 178px;
  overflow: auto;
  padding-right: 4px;
  scrollbar-width: thin;
  scrollbar-color: #92bfd6 #f1f1f1;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:first-child p {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.007em;
  color: #A7A9AC;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:first-child ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:first-child ul li {
  display: flex;
  font-family: "HelveticaNeueRoman";
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #333333;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:first-child ul li .icon {
  margin-right: 8px;
  width: 16px;
  height: auto;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:last-child {
  display: flex;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:last-child ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-top: auto;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:last-child ul > li:first-child {
  width: 160px;
  background: #D62049;
  border-radius: 8px;
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.007em;
  color: #FFFFFF;
  padding: 8px;
  text-align: center;
  margin-bottom: unset;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child > ul:nth-child(2) > li:last-child ul > li:last-child {
  width: 160px;
  border: 1px solid #D62049;
  padding: 8px;
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.007em;
  background: transparent;
  color: #d62049;
  border-radius: 8px;
  text-align: center;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child ol {
  position: absolute;
  bottom: -35px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide > div:last-child ol li {
  font-family: "HelveticaNeueRoman";
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  letter-spacing: -0.007em;
  color: #58595B;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0 !important;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -41px;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
main > .section.our-bestselling-term-container .our-bestselling-term-wrapper .our-bestselling-term .swiper-pagination-bullet-active {
  width: 27px;
  height: 10px;
  border-radius: 10px;
}/*# sourceMappingURL=our-bestselling-term.css.map */