.price-listing-container {
    background-color: #ededed;
}

.price-listing {
    display: flex;
    gap: 30px;
    padding: 47px 0px 20px 0px;
}

.price-listing > div:nth-child(2) > div > ul {
    padding: 0px;
    list-style: none;
}
.price-listing > div:nth-child(2) {
    width: 100%;
}

.price-listing > div:nth-child(2) > div > ul > li:nth-child(1) > div {
    display: flex;
    justify-content: space-between;
}

.price-listing
    > div:nth-child(2)
    > div
    > ul
    > li:nth-child(1)
    > .price-listing__row-col--container
    > .custom-select-state-city {
    width: 45%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background: white;
}
.price-listing
    > div:nth-child(2)
    > div
    > ul
    > li:nth-child(1)
    > .price-listing__row-col--container
    > .custom-select-state-city__col {
    width: 45%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background: white;
}

.price-listing .custom-select-state-city__col > .custom-autocomplete {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-listing
    .custom-select-state-city__col
    > .custom-autocomplete
    > .react-select__input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 5px;
    border-radius: 5px;
}

.price-listing > div:nth-child(2) > div > ul > li:nth-child(1) > fieldset {
    border: none;
}

.price-listing
    > div:nth-child(2)
    > div
    > ul
    > li:nth-child(1)
    > fieldset
    > .price-details--info
    > .row {
    display: flex;
    justify-content: space-between;
}

.price-listing
    > div:nth-child(2)
    > div
    > ul
    > li:nth-child(1)
    > fieldset
    > .price-details--info
    > .row
    > .col-6 {
    width: 45%;
}

.price-listing > div:nth-child(2) > div > ul > li:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.price-listing
    > div:nth-child(2)
    > div
    > ul
    > li:nth-child(1)
    > fieldset
    > .price-details--info
    > div:nth-child(1)
    > .col-6 {
    font-size: 18px;
    font-weight: 800;
}

/* btn */

.price-listing > div:nth-child(2) > div > ul > li:nth-child(2) > div {
    display: flex;
    gap: 37px;
}

.price-listing > div:nth-child(2) > div > ul > li:nth-child(2) > div > a {
    text-align: center;
    line-height: 1.25rem;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
    border-radius: 4px;
    border: 1px solid #d30000;
}

.price-listing
    > div:nth-child(2)
    > div
    > ul
    > li:nth-child(2)
    > div
    > a:nth-child(1) {
    color: #d30000;
    background-color: #fff;
    cursor: pointer;
}

.price-listing
    > div:nth-child(2)
    > div
    > ul
    > li:nth-child(2)
    > div
    > a:nth-child(2) {
    background-image: linear-gradient(
        160.69deg,
        #b50000 22.35%,
        #ff0000 68.47%,
        #b50000 114.59%
    );
    color: #fff;
    cursor: pointer;
}

/* images */

.price-listing > div:nth-child(1) > div {
    width: 414px;
}

@media (max-width: 786px) {
    .price-listing > div:nth-child(1) > div {
        display: none;
    }
}
