.content-fragment
    > div
    > div
    > .fares-carousel-container
    > .fares-carousel-content
    > .fr-secondary-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.content-fragment
    > div
    > div
    > .fares-carousel-container
    > .fares-carousel-content
    > .fr-secondary-filters
    > .fr-d-inline-block
    > .fr-filters-left {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.content-fragment
    > div
    > div
    > .fares-carousel-container
    > .fares-carousel-content
    > .fr-secondary-filters
    > .fr-d-inline-block
    > .fr-filters-left
    > .filter-group {
    display: flex;
    gap: 10px;
}

.fr-filters-left > .fr-btn-clear-wrapper > .fr-btn {
    font-family: "Helvetica Neue, serif, sans-serif";
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.2;
    font-weight: 700;
    color: #777777 !important;
    opacity: 1 !important;
}

.fr-d-inline-block > .fr-filters-left > .filter-group > .filter-item {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(212, 212, 212);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    color: rgb(119, 119, 119);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-transform: none;
    padding: 0rem 32px;
    height: 32px;
    position: relative;
}

.fr-d-inline-block > .fr-filters-left > .filter-group > .filter-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 14px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 3px 3px 0 0;
    color: rgb(119, 119, 119);
}

.fr-d-inline-block > .fr-filters-left > .filter-group > .filter-item:active {
    border: 2px solid #0088dd;
}

.fr-row
    > .fr-col
    > .swiper-initialized
    > .swiper-wrapper
    > .swiper-slide
    > .item-wrapper {
    max-width: 390px !important;
    width: 100% !important;
}
.item-wrapper > .item-col > div > .card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card-body > div {
    display: flex;
    gap: 2px 5px;
    flex-wrap: wrap;
}

.card-body > div:nth-child(1) {
    font-family: "Roboto, serif, sans-serif";
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.2;
    font-weight: 500;
    color: #0088dd;
    padding: 10px;
}

.card-body > div:nth-child(2) {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    font-family: "Helvetica Neue, sans-serif";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    color: rgb(119, 119, 119);
}

.swiper-slide > .item-wrapper > .item-col > div > div:nth-child(2) > div {
    border-radius: 10px;
}

.swiper-slide{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    /* padding: 10px; */
    border-radius: 10px;


}
.card-footer {
    font-size: 15px;
    color: rgb(119, 119, 119);
    padding: 10px;
}

.card-footer > .price-row {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card-footer > .seen-row {
    display: flex;
}

.card-footer > .trip-row {
    display: flex;
}

.cta-row {
    width: 87%;
    background-color: #0088dd;
    border-color: #0088dd;
    color: #ffffff !important;
    padding: 12px 24px;
    border-radius: 5px;
    text-align: center;
}

.card-footer>.price-row>.price-currency-row>.price{
      color: #0088dd;
      font-weight: 800;
      font-size: 18px;
      margin: 10px;
}

.carousel>.swiper-pagination{
    bottom: -9px !important;
}

.swiper-wrapper{
    padding: 20px;
}