.pl-card{
    position: relative;
}

.pl-card .pl-text{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 108px 0 26px 18px;
    overflow: hidden;
    border-radius: 18px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.pl-card .pl-text h5{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 6px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: grey;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}