.section.carousel-container .carousel-wrapper:has(.carousel.banner-carousel) {
    max-width: unset;
}

.carousel.banner-carousel {
    overflow: hidden;
}

.carousel.banner-carousel .swiper-slide div:has(picture) {
    height: 630px;
    width: 100%;
}

.carousel.banner-carousel .swiper-slide div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel.banner-carousel .swiper-pagination {
    top: 70%;
    height: 30px;
}

.carousel.banner-carousel .swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: unset;
}

.carousel.banner-carousel .swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
}

.carousel.banner-carousel .swiper-button-next {
    right: 60px;
    background: unset;
}

.carousel.banner-carousel .swiper-button-prev {
    left: 60px;
    background: unset;
}

.carousel.banner-carousel .swiper-button-next::after,
.carousel.banner-carousel .swiper-button-prev::after {
    font-size: 15px;
}

@media (width <= 900px) {
    .section.hero-banner-carousel.carousel-container {
        margin: 0;
    }

    .carousel.banner-carousel .swiper-slide div:has(picture) {
        height: 500px;
    }

    .carousel.banner-carousel .swiper-slide div img {
        object-position: 90%;
    }

    .carousel.banner-carousel .swiper-button-next {
        right: 5px;
    }
    
    .carousel.banner-carousel .swiper-button-prev {
        left: 5px;
    }
}
