@import "../carousel/swiper.min.css";
@import "mobile-carousel.css";

.swiper {
    padding-bottom: 30px;

    /* .swiper-pagination {
          margin-top: 25px;
      } */
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    display: block;
    width: 60px;
    height: 60px;
    top: 34%;
}

.swiper .swiper-button-next img,
.swiper .swiper-button-prev img {
    display: block;
    width: 60px;
    height: 60px;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    display: none;
}

.swiper .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
}

.swiper .swiper-pagination-bullet-active {
    background-color: gray;
    width: 11px;
    height: 11px;
    border-radius: 20px;
}

.swiper .swiper-slide>div>picture>img {
    width: 100%;
    object-fit: fill;
}

.section.highlights {
    padding: unset;
    height: 170px;
}

@media screen and (width <=767px) {
    .section.highlights {
        height: unset;
    }
}

.section.highlights>div:nth-of-type(1) {
    font-size: 18px;
    font-weight: var(--font-semi-bold);
    color: var(--white);
    text-align: center;
}

.section.highlights>div:nth-of-type(2) {
    margin-top: 20px;
}

.section.highlights .swiper {
    width: 50%;
}

@media screen and (width <=767px) {
    .section.highlights .swiper {
        width: 100%;
    }
}

.section.essential-carousel.carousel-container .default-content-wrapper>p {
    color: #222;
    font-family: 'PP Montreal Book',sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: unset;

    /* padding-top: 64px; */
}

.section.essential-carousel.carousel-container .default-content-wrapper>h2 {
    color: #222;
    font-family: 'PP Montreal Medium',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: .375rem;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide {
    gap: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: unset;
    margin-right: 10px;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop picture,
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile picture {
    width: 50%;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop img,
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile img {
    width: 100%;
    height: 100%;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide>div>p {
    margin: unset;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-con p:last-child {
    display: none;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .embed {
    width: 53%;
    height: 200px;
    display: block;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .embed>div {
    height: 100% !important;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide>.embed>div iframe {
    height: 200px;
    max-height: 200px;
}



.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile {
    display: none;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide>a:hover .image-desktop {
    display: none;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide>a:hover .image-mobile {
    display: block;
}

/* .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile,
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop, */
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop picture,
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop picture img,
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile picture,
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile picture img {
    height: 131px;
    border-radius: .75rem;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide .text-wrapper>div>h2 {
    color: #222;
    font-family: 'PP Montreal Medium',sans-serif;
    font-size: 1pc;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: .5rem 0;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide>div:has(.button-container) {
    vertical-align: middle;
    align-content: center;
    height: 100%;
}

.section.essential-carousel.carousel-container .default-content-wrapper:last-child>p>a {
    all: unset;
    font-family: 'PP Montreal Medium',sans-serif;
    font-size: 1pc;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 10%) 0 0.3125rem 0.625rem 0;
    color: rgb(255 255 255);
    cursor: pointer;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    justify-content: center;
    width: fit-content;
    background: rgb(255 83 16);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide>div>p>a {
    all: unset;
    color: #ff5310;
    font-family: 'PP Montreal Medium',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-underline-offset: .25rem;
    text-decoration: underline;
    cursor: pointer;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-pagination .swiper-pagination-bullet {
    border-radius: unset;
    width: 100%;
    margin: unset;
    height: 2px;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff5310;
}

.section.essential-carousel.carousel-container .carousel-wrapper .carousel {
    margin: 1.5rem 0;
}

@media (width > 900px) {
    .section.essential-carousel.carousel-container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 5.5rem;
    }

        .section.essential-carousel.carousel-container .default-content-wrapper>h2 {
        color: #222;
        font-family:'PP Montreal Medium',sans-serif;
        font-size: 3pc;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: .5rem;
    }

    .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide .text-wrapper>div>h2 {
        color: #222;
        font-family: 'PP Montreal Medium',sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 1rem 0;
    }

    /* .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide>a {
        height: 278px;
    } */

    .section.essential-carousel.carousel-container .default-content-wrapper>p {
        color: #222;
        font-family: 'PP Montreal Book',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile,
.section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop, */
    .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop picture,
    .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-desktop picture img,
    .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile picture,
    .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper .swiper-slide .image-mobile picture img {
        height: 278px;
        border-radius: .75rem;
    }

    .section.essential-carousel.carousel-container .carousel-wrapper .carousel {
        margin: 2.5rem 0;
    }

    .section.essential-carousel.carousel-container .default-content-wrapper:last-child>p>a {
        font-family: 'PP Montreal Medium',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        box-shadow: rgb(0 0 0 / 10%) 0 0.4688rem 0.9375rem 0;
        color: rgb(255 255 255);
        height: auto;
        min-width: 9.75rem;
        margin-bottom: 30px;
    }

}

.section.essential-carousel.carousel-container .text-wrapper{
        min-height: 53px;
    }

@media (width<786px) {
    .section.essential-carousel.carousel-container .text-wrapper{
        min-height: 53px;
    }

    .section.essential-carousel.carousel-container .default-content-wrapper>p{
        padding-top: 0;
    }
    .swiper .swiper-button-next img, .swiper .swiper-button-prev img{
        width: 30px;
        height: 30px;
    }
    .swiper .swiper-button-next, .swiper .swiper-button-prev{
        width: 30px;
        height: 30px;
        top: 45%;
    }
    .section.essential-carousel.carousel-container .carousel-wrapper .carousel .swiper-wrapper>.swiper-slide>div>p>a{
        font-size: 16px;
    }
}