@media (width <=768px) {
    .carousel.deals-carousel {
        padding: 0 15px 20px 0;
        margin-top: 40px;
    } 

    .carousel.deals-carousel .swiper-slide {
        flex-direction: column;
        border: unset;
        min-height: 535px;
    }

    .carousel.deals-carousel .swiper-slide div:has(picture),
    .carousel.deals-carousel .swiper-slide div picture {
        width: 100%;
    }

    .carousel.deals-carousel .swiper-slide div img {
        border-top-right-radius: 16px;
        border-bottom-left-radius: unset;
    }

    .carousel.deals-carousel .swiper-pagination {
        top: 95%;
    }

    .carousel.deals-carousel .swiper-pagination .swiper-pagination-bullet {
        margin: 0 4px;
    }

    .carousel.deals-carousel .swiper-button-next,
    .carousel.deals-carousel .swiper-button-prev  {
        top: 240px;
    }
}