.tab.tab-style .tab-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .tab .tab-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tab .tab-list {
    font-size: var(--body-font-size-m);
  }
}

.tab .tab-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5em;
  background-color: var(--light-color);
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tab .tab-list button p {
  margin: 0;
}


.tab .tab-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tab .tab-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid #dadada;
  overflow: auto;
}

.tab .tab-panel[aria-hidden='true'] {
  display: none;
}

/* Tab Component CSS */

main{
    display: block !important;
}
.block.tab-style .tab-list .tab-tab p{
    width: 40px;
    height: 34px;
}
.block.tab-style .tab-list .tab-tab p:nth-child(2){
    display: none;
}
.block.tab-style .tab-tab{
    all: unset;
}
.section.tab-container .default-content-wrapper{
    padding: 0;
    margin: initial;
}
.section.tab-container .tab-wrapper{
    margin: initial;
    padding: 0;
}
.section.tab-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.block.tab-style .tab-panel{
    position: absolute;
    top: 75px;
    right: 0;
    background: white;
    width: 100%;
    margin-right: -24px;
    border: none;
    padding-top: 0px;
}