.tab.tab-style .tab-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .tab .tab-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tab .tab-list {
    font-size: var(--body-font-size-m);
  }
}

.tab .tab-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5em;
  background-color: var(--light-color);
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tab .tab-list button p {
  margin: 0;
}


.tab .tab-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tab .tab-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid #dadada;
  overflow: auto;
}

.tab .tab-panel[aria-hidden='true'] {
  display: none;
}

/* Tab Component CSS */

main{
    display: block !important;
}
.block.tab-style .tab-list .tab-tab p{
    width: 40px;
    height: 34px;
}
.block.tab-style .tab-list .tab-tab p:nth-child(1){
    margin-bottom: 8px;
}
.block.tab-style .tab-list .tab-tab p:nth-child(2){
    display: none;
    text-align: center;
    margin-top: 10px;
}
.block.tab-style .tab-tab{
    all: unset;
}
.section.tab-container .default-content-wrapper{
    padding: 0;
    margin: initial;
}
.section.tab-container .tab-wrapper{
    margin: initial;
    padding: 0;
}
.section.tab-container.tab-cnt-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.block.tab-style .tab-panel{
    position: absolute;
    top: 75px;
    right: 0;
    background: white;
    width: 100%;
    margin-right: -24px;
    border: none;
    padding-top: 0px;
    z-index: 1;
}
.block.tab-style .tab-panel > div{
    position: relative;
    padding-bottom: 60px;
}
.section.tab-cnt-style .tab-style .tab-panel ul,.section.tab-cnt-style .tab-style .tab-panel ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.section.tab-cnt-style .tab-style .tab-panel > div ul li p {
    font-size: 14px;
    font-weight: 450;
    letter-spacing: .4px;
    color: #5c5a5a;
    cursor: pointer;
    font-style: normal;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    font-family: PP Neue Montreal Variable, sans-serif;
}
.section.tab-cnt-style .tab-style .tab-panel > div > ul > li{
    padding:24px 0;
    border-bottom: 1px solid #dcdcdd;
}
 .section.tab-cnt-style .tab-style .tab-panel > div > ul li ul li{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .1px;
    line-height: 24px;
    padding: 8px 0;
    font-family: PP Neue Montreal Variable, sans-serif;
}
.section.tab-cnt-style .tab-style .tab-panel > div > ol{
    padding:24px 0;
}
.section.tab-cnt-style .tab-style .tab-panel > div > ol li{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .1px;
    line-height: 24px;
    color: #5c5a5a;
    font-family: PP Neue Montreal Variable, sans-serif;;
    padding-bottom: 10px;
}
.section.tab-cnt-style .tab-style .tab-panel > div > ul:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: hsla(0, 0%, 100%, .9);
    backdrop-filter: blur(8px);
    height: 82px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -24px;
}
.section.tab-cnt-style .tab-style .tab-panel > div > ul:last-child > li{
    border: none;
    padding: 0;
    color: white;
    background-color: #1d1b1b;
    color: #fff;
    padding: 8px 14px;
    border-radius: 50px;
    font-size: 16px;
    box-sizing: border-box;
    width: 126px;
    text-align: center;
}
.tab-cnt-style .tab-style .tab-panel .accordion-item-label{
    list-style: none;
    position: relative;
}
.tab-cnt-style .tab-style .tab-panel .accordion-item-label p{
    font-family: PP Neue Montreal Variable, sans-serif;
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #1d1b1b !important;
    letter-spacing: .1px;
    padding: 5px 0px !important;
}
.tab-cnt-style .tab-style .tab-panel .accordion-item-label p::before{
      content: '';
  position: absolute;
  right: -7px;
  top: 5px;
    content: '';
      display: inline-block;
      width: 0.5em; /* Adjust size as needed */
      height: 0.5em; /* Adjust size as needed */
      border-top: 0.1em solid currentColor;
      border-right: 0.1em solid currentColor;
      transform: rotate(135deg);
      margin-left: 0.2em;
}

.section .tab-style .accordion-item.active .accordion-item-label p{
  color: #ff5310 !important;
}
.section .tab-style .accordion-item.active .accordion-item-label p:before{
      transform: rotate(315deg);
      top: 15px;
}