
@import url("../cards/cards.css");

@font-face {
    font-family: "TSTAR-PRO-Normal";
    src: url("/fonts/TSTAR-PRO-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Medium";
    src: url("/fonts/TSTAR-PRO-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Bold";
    src: url("/fonts/TSTAR-PRO-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Heavy";
    src: url("/fonts/TSTAR-PRO-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

main > .section > div {   /*  this line for check*/
    max-width: 1560px;
    width: 100%;
}

@import url("../cards/cards.css");

.buy-card-wrapper{
    max-width: 1560px;
    width: 100%;
}

.buy-card > ul > li {
    max-width: 490px;
    width: 100%;
    position: relative;
}
.buy-card > ul {
    list-style: none;
    display: flex;
    gap: 8px;
}
.buy-card> ul > li > .cards-card-body {
    position: absolute;
    top: 16px;
    left: 35px;
    color: white;
    padding: 4px 24px;
    background: black;
    border-radius: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-card-body > p {
    margin: 0px 0px 0px 0px;
    font-size: 10px;
    font-weight: 700;
}

.buy-card-image {
    max-width: 490px;
    height: 307px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%); */
    -webkit-transform: skewX(-10deg);
}

.buy-card-image > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.buy-card-image > picture > img:hover {
    transform: scale(1.2); /* Zoom in 1.2x */
}

@media (max-width: 600px) {
    .buy-card > ul {
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }

    .buy-card-image {
        -webkit-transform: skewX(0deg);
    }
    .buy-card-image > picture > img:hover {
        transform: none /* Zoom in 1.2x */
    }

    .buy-card> ul > li > .cards-card-body {
        left: 5px;
    }
}



/*

.buy-card-container > div > p {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
}
.buy-card {
    margin-top: 67px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 90px; 
}

.buy-card>.block-child0,.block-child1 ,.block-child2,.block-child3{
    width: 300px;
     position: relative;
    
}
.block-child1-child1>picture>img{
    position: relative;
}
.block-child1-child0 > p {
    opacity: 0.2;
    font-style: italic;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
    font-size: 8rem;
    position: absolute;
    top: -228px;
}



.block-child1-child2 > h4 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-kerning: auto;
    letter-spacing: normal;
    line-height: 2rem;
    font-family: "TSTAR-PRO-Bold";
    font-weight: 700;
}

.block-child1-child2 > p {
    font-family: "TSTAR-PRO-Medium";
    font-weight: 400;
    color: #303030;
}
*/