@font-face {
    font-family: "TSTAR-PRO-Normal";
    src: url("/fonts/TSTAR-PRO-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Medium";
    src: url("/fonts/TSTAR-PRO-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Bold";
    src: url("/fonts/TSTAR-PRO-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TSTAR-PRO-Heavy";
    src: url("/fonts/TSTAR-PRO-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

main > .section > div {   /*  this line for check*/
    max-width: 1560px;
    width: 100%;
}


.buy-card-container > div > p {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
}
.buy-card {
    margin-top: 67px; /*  this line for check*/
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 90px; 
}

.buy-card>.block-child0,.block-child1 ,.block-child2,.block-child3{
    width: 300px;
     position: relative;
     /* z-index: 2; */
    /* border: 1px solid red; */
}
.block-child1-child1>picture>img{
    position: relative;
}
.block-child1-child0 > p {
    opacity: 0.2;
    font-style: italic;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
    font-size: 8rem;
    position: absolute;
    top: -228px;
}

/* .block-child1-child1 {
    position: relative;
} */

/* .block-child{
    position: relative;
} */


.block-child1-child2 > h4 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-kerning: auto;
    letter-spacing: normal;
    line-height: 2rem;
    font-family: "TSTAR-PRO-Bold";
    font-weight: 700;
}

.block-child1-child2 > p {
    font-family: "TSTAR-PRO-Medium";
    font-weight: 400;
    color: #303030;
}
