@import url("../accordion/accordion.css");

footer {
    background-color: var(--light-color);
    font-size: var(--body-font-size-xs);
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
}

footer .footer p {
    margin: 0;
}

@media (width >= 900px) {
    footer .footer > div {
        padding: 40px 32px 24px;
    }
}

.columns-container {
    background-color: #1f2a37;
    color: #fff;
}

.columns-2-cols > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section.footer {
    background-color: rgb(31, 42, 55);
    color: white;
    margin: 0px 0px;
}

.footers > div > ul {
    list-style: none;
}
/*changes for mobile*/
.footers > div > ul > .accordion-item > ul {
    padding: 0px;
    list-style: none;
}
.footers > div > ul > .accordion-item > ul > li {
    padding: 0px;
    list-style: none;
    font-family: "OpenSans-Regular";
    font-size: 0.875rem;
    line-height: 150%;
    opacity: 0.6;
}
.footer-sec2
    > .default-content-wrapper
    > ul
    > .accordion-item
    > .accordion-item-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-sec2 > .default-content-wrapper > ul {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.footers > div > ul > .accordion-item > ul > li > a {
    color: #f9fafb;
}

.footers.default-content-wrapper {
    max-width: 100%;
}
.footers {
    padding: 10px 0px;
}
.footer-sec1 > .default-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 10px 0px 10px;
}

.footer-sec1 > .default-content-wrapper > ul {
    display: flex;
    gap: 20px;
    padding: 0px;
}
.footer-sec1 > .default-content-wrapper > p {
    font-family: "OpenSans-Bold";
    font-size: 2.25rem;
}
.footer-sec1 > .default-content-wrapper > ul > li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
    padding: 5px 35px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.footer-sec1 > .default-content-wrapper > ul > li:hover {
    background-color: #1a4c81;
    transition: all 0.5s ease;
}

.footer-sec2 > .default-content-wrapper {
    display: flex;
}
.footer-sec2 > .default-content-wrapper > ul > li > p {
    color: #fff;
    font-family: "OpenSans-Bold";
}

.footer-sec2 > .default-content-wrapper > ul > li > ul {
    list-style: none;
    padding: 0px;
}
.footer-sec2 > .default-content-wrapper > ul > li > ul > li > a {
    color: #f9fafb;
    font-family: "OpenSans-Regular";
    font-size: 0.875rem;
    line-height: 150%;
    opacity: 0.6;
}
.footer-sec1 > .default-content-wrapper > ul > li > span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-sec1 > .default-content-wrapper > ul > li > span > img {
    width: 60%;
    height: 60%;
}

@media (max-width: 768px) {
    .footer-sec2 > .default-content-wrapper {
        flex-direction: column;
        padding: 0px;
    }
    .footer-sec1 > .default-content-wrapper > ul > li {
        padding: 5px 14px;
        font-size: 15px;
    }

    .footer-sec1 > .default-content-wrapper > ul > li > span > img {
        width: 60%;
        height: 60%;
    }
    .footer-sec1 > .default-content-wrapper > ul {
        gap: 12px;
    }
    .footer-sec2 > .default-content-wrapper > ul {
        padding: 10px;
    }
    .footer-sec2
        > .default-content-wrapper
        > ul
        > .accordion-item
        > .accordion-item-label {
        font-family: "OpenSans-Bold";
        font-size: 15px;
        display: flex;
        justify-content: space-between;
    }
    .footer-sec2
        > .default-content-wrapper
        > ul
        > .accordion-item
        > .accordion-item-label::after {
        content: "";
        background: url("/icons/rightarrow.svg");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: block;
        background-position: center;
        background-size: cover;
    }

    .footer-sec2
        > .default-content-wrapper
        > ul
        > .accordion-item[open]
        > .accordion-item-label::after {
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
    }
    .footer-sec1 > .default-content-wrapper > p {
        font-size: 26px;
    }
}

.footer-sec3 {
    border-bottom: 1px solid #f9fafb;
    padding-bottom: 20px;
}

.footer-sec3 > .default-content-wrapper > ul {
    padding: 0px;
}
.footer-sec3 > .default-content-wrapper > ul > li {
    display: flex;
    gap: 32px;
    align-items: start;
}
.footer-sec3 > .default-content-wrapper > ul > li > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.footer-sec3 > .default-content-wrapper > ul > li > p {
    color: #fff;
    font-family: "OpenSans-Bold";
    max-width: 15%;
    width: 100%;
    font-size: 0.875rem;
    line-height: 16px;
}
.footer-sec3 > .default-content-wrapper > ul > li > ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}
.footer-sec3 > .default-content-wrapper > ul > li > ul > li {
    padding-right: 14px;
    border-right: 2px solid rgba(249, 250, 251, 0.5);
    font-size: 0.875rem;
    line-height: 150%;
}
.footer-sec3 > .default-content-wrapper > ul > li > ul > li:last-of-type {
    border: none;
}

.footer-sec3 > .default-content-wrapper > ul > li > ul > li > a {
    color: #f9fafb;
    font-family: "OpenSans-Regular";
    opacity: 0.6;
}

.section.footer-sec3 > .default-content-wrapper > .view-more-btn {
    background: none;
    font-family: "OpenSans-Bold";
    font-size: 0.875rem;
}
.footer-sec3 > .default-content-wrapper {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .footer-sec3 > .default-content-wrapper > ul > li {
        flex-direction: column;
    }
    .footer-sec3 > .default-content-wrapper > ul > li > ul {
        flex-direction: column;
    }
    .footer-sec3 > .default-content-wrapper > ul > li > p {
        max-width: 100%;
    }
    .footer-sec3 > .default-content-wrapper > ul > li > ul > li {
        border: none;
    }
    .footer-sec3 > .default-content-wrapper > ul > li > ul > li > a {
        border-right: 1px solid rgba(249, 250, 251, 0.5);
        padding-right: 13px;
    }
}

.footer-white {
    background-color: white;
}

.footer-sec5 > .default-content-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.footer-sec5 > .default-content-wrapper > ul > li > p {
    color: #535353;
    font-family: "OpenSans-Regular";
    font-size: 0.875rem;
    line-height: normal;
    vertical-align: top;
}
.footer-sec5 > .default-content-wrapper > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
    list-style: none;
}

.footer-sec5 > .default-content-wrapper > ul > li > span {
    cursor: pointer;
}
.footer-sec5 > .default-content-wrapper > ul > li > p {
    /* padding-right: 5px; */
    padding: 0px 5px 0px 0px;
    border-right: 1px solid #535353;
    margin: 0px;
}

.footer-sec5 > .default-content-wrapper > ul > li:last-child > p {
    border: none;
}

.footer-sec5 > .default-content-wrapper > ul > li > p > a {
    margin: 0px;
    padding: 0px;
    background: none;
    color: #535353;
    font-family: "OpenSans-Regular";
}

.sec3-ul-hide {
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.sec3-ul-show {
    opacity: 1;
    height: auto;
    pointer-events: all;
}

.section > .default-content-wrapper {
    max-width: 1560px;
    display: flex;
    justify-content: center;
}

/*changes sec 4*/
.section > .columns-wrapper {
    max-width: 1560px;
    width: 100%;
    padding: 0px;
}
.columns-container > .columns-wrapper > .columns > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #a5a8aa;
}
.columns-container > .columns-wrapper > .columns > div > .columns-img-col {
    max-width: 720px;
}
.columns-container
    > .columns-wrapper
    > .columns
    > div
    > .columns-img-col
    > picture
    > img {
    width: 35%;
    height: auto;
}
.columns-container > .columns-wrapper > .columns > div > div:nth-child(2) {
    display: flex;
    gap: 20px;
}

.columns-container > .columns-wrapper > .columns > div > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.columns-container > .columns-wrapper > .columns > div > div:nth-child(2) > p {
    margin: 0px;
    padding: 0px;
    background: none;
    color: #292929;
    font-family: "OpenSans-Bold";
    font-size: 0.875rem;
}

.columns-container
    > .columns-wrapper
    > .columns
    > div
    > div:nth-child(2)
    > p
    > a {
    margin: 0px;
    padding: 0px;
    background: none;
    color: #292929;
    font-family: "OpenSans-Regular";
    font-size: 0.875rem;
}

.columns-container
    > .columns-wrapper
    > .columns
    > div
    > div:nth-child(2)
    > p
    > picture
    > img {
    width: 66px;
}

@media (max-width: 768px) {
    .columns-container > .columns-wrapper > .columns > div {
        gap: 20px;
        justify-content: center;
    }
    .columns-container
        > .columns-wrapper
        > .columns
        > div
        > .columns-img-col
        > picture
        > img {
        width: 100%;
    }
    .columns-container > .columns-wrapper > .columns > div > div:nth-child(2) {
        justify-content: center;
    }
}

.footer-sec6 > .columns-wrapper > .columns > div > div:nth-child(2) > p {
    font-family: "OpenSans-Regular";
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 0;
    font-size: 0.875rem;
}

.footer-sec6 > .columns-wrapper > .columns > div {
    border: none;
}

.footer-sec6-1 > .OpstionContainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.footer-sec6-1 > .OpstionContainer > div > .inp {
    width: 100%;
    background: #1f2a37;
    border: 0.0625rem solid #f9fafb;
    border-radius: 0.5rem;
    color: #f9fafb;
    cursor: pointer;
    font-family: "OpenSans-Regular";
    font-size: 0.875rem;
    line-height: normal;
    padding: 0.5rem 2.1875rem 0.5rem 1.25rem;
    outline: none;
}


.footer-sec6-1>.OpstionContainer>div>.inp>Option.active{
  color: white;
  background-color: blue;
}