@import url("../swiper/swiper.min.css");

.esaf-swiper > .swiper-wrapper {
    /* min-height: 309px; */
    height: 100%;
    border-radius: 10px;
}

.esaf-swiper
    > .swiper-wrapper
    > .swiper-slide
    > div:nth-child(1)
    > picture
    > img {
    border-radius: 25px;
    max-height: 309px;
    height: 100%;
}

.esaf-swiper > .btn-wrapper > .swiper-button-prev,
.esaf-swiper > .btn-wrapper > .swiper-button-next {
    font-size: 18px;
    color: #fff;
    position: absolute;
    right: 8%;
    top: 55%;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    transition: 0.4s ease-in-out;
}

.esaf-swiper > .btn-wrapper > .swiper-button-next::after {
    content: "\f178";
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: FontAwesome;
    font-size: 12px;
    font-weight: 300;
}

.esaf-swiper > .btn-wrapper > .swiper-button-prev::after {
    content: "\f177";
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: FontAwesome;
    font-size: 12px;
    font-weight: 300;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.esaf-swiper > .btn-wrapper > .swiper-button-prev,
.esaf-swiper > .btn-wrapper > .swiper-button-next {
    right: 30px;
}

.esaf-swiper > .btn-wrapper > .swiper-button-prev:hover,
.esaf-swiper > .btn-wrapper > .swiper-button-next:hover {
    background-color: #002a69;
    color: #fff;
    border: 1px solid transparent;
}

@media (max-width: 900px) {
    .esaf-swiper > .btn-wrapper > .swiper-button-prev,
    
    .esaf-swiper > .btn-wrapper > .swiper-button-next {
        display: none;
    }
}
