.products-grid {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);
}

.products-grid[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
}

.products-grid[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
}

.products-grid[data-columns="5"] {
    grid-template-columns: repeat(5, 1fr);
}

.section.product-details-container {
    margin: 64px 0
}

.section.product-details-container .default-content-wrapper {
    padding: 0;
}

.section.product-details-container .default-content-wrapper h2 {
    text-align: center;
    font-size: 48px;
    line-height: 68px;
    font-weight: 600;
    color: #1d1b1b;
    margin: 0;
}

.section.product-details-container .default-content-wrapper p {
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: #1d1b1b;
    margin: 0;
}

.section.product-details-container .products-grid {
    padding: 40px 0 36px 88px;
    row-gap: 36px;
    column-gap: 20px;
}

.section.product-details-container .products-grid .product-item .product-image {
    width: 40px;
    height: 40px;
}

.section.product-details-container .products-grid .product-item .product-image img{
    height: 100%;
    width: 100%;
}

.section.product-details-container .products-grid .product-item .product-content h3 {
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 8px 0 2px; 
    max-width: 90px;
    word-break: break-word;  
}

.section.product-details-container .products-grid .product-item .product-content .value-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section.product-details-container .products-grid .product-item .product-content .value-container .product-value {
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
}

.section.product-details-container .products-grid .product-item .product-content .value-container .product-value.bold {
    font-size: 28px;
    line-height: normal;
    font-weight: 600;
}

.section.product-details-container .products-grid .product-item .product-content .value-container .product-unit {
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
}

@media (width <= 900px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products-grid[data-columns="3"] {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products-grid[data-columns="4"] {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products-grid[data-columns="5"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .section.product-details-container {
        margin: 40px 0
    }

    .section.product-details-container .products-grid {
        padding: 24px 20px;
        row-gap: 24px;
        column-gap: 30px;
    }

    .section.product-details-container .products-grid .product-item .product-image {
        width: 30px;
        height: 30px;
    }

    .section.product-details-container .products-grid .product-item .product-content h3 {
        font-size: 16px;
        margin: 6px 0 2px;  
    }

    .section.product-details-container .products-grid .product-item .product-content .value-container .product-value.bold {
        font-size: 20px;
    }
}