.products-grid {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);
}

.products-grid[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
}

.products-grid[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
}

.products-grid[data-columns="5"] {
    grid-template-columns: repeat(5, 1fr);
}

.section.product-details-container .default-content-wrapper {
    padding: 0;
}

.section.product-details-container .default-content-wrapper h2 {
    text-align: center;
    font-size: 48px;
    line-height: 68px;
    font-weight: 600;
    color: #1d1b1b;
    margin: 0;
    font-family: 'PP Montreal Bold',sans-serif;
}

.section.product-details-container .default-content-wrapper p {
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: #1d1b1b;
    margin: 0;
    font-family: 'PP Montreal Bold',sans-serif;
}

.section.product-details-container .products-grid {
    padding: 40px 88px 36px;
    gap: 36px 20px;
}

.section.product-details-container .products-grid .product-item .product-image {
    width: 40px;
    height: 40px;
}

.section.product-details-container .products-grid .product-item .product-image img{
    height: 100%;
    width: 100%;
}

.section.product-details-container .products-grid .product-item .product-content h3 {
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 8px 0 2px; 
    font-family: "PP Montreal Bold",sans-serif;
}

.section.product-details-container .products-grid .product-item .product-content .value-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section.product-details-container .products-grid .product-item .product-content .value-container .product-value {
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
}

.section.product-details-container .products-grid .product-item .product-content .value-container .product-value.bold {
    font-size: 28px;
    line-height: normal;
    font-weight: 600;
}

.section.product-details-container .products-grid .product-item .product-content .value-container .product-unit {
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
}

@media (width <= 1025px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products-grid[data-columns="3"] {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products-grid[data-columns="4"] {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products-grid[data-columns="5"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .section.product-details-container .products-grid {
        padding: 24px 20px;
        gap: 24px 30px;
    }

    .section.product-details-container .products-grid .product-item .product-image {
        width: 30px;
        height: 30px;
    }

    .section.product-details-container .products-grid .product-item .product-content h3 {
        font-size: 16px;
        margin: 6px 0 2px;  
    }

    .section.product-details-container .products-grid .product-item .product-content .value-container .product-value.bold {
        font-size: 20px;
    }
}

@media (width<768px){
    .section.product-details-container .default-content-wrapper h2{
        font-size: 36px;
    }

/* 
    .productspecification .product-specification-heading__description{
        font-size: 24px;
    } */
}