/* add global styles that can be loaded post LCP here */
.alalameyams-swiper .swiper-slide .cards-card-image img{
  animation: bannerScale 8s ease-in-out 1s;
  object-fit: cover;
  transform: scale(1);
 }
 @keyframes bannerScale{
  0%{
    transform: scale  (1);
  }
  100%{
    transform: scale(1.15);
  }
 }