/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: Inter-Regular, Inter-fallback, sans-serif;
  --heading-font-family: Inter-Bold, Inter-Bold-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: Inter-Bold-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: Inter-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >=900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: normal;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.4em;
  margin-bottom: 0.15em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 0.80;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.4em;
  margin-bottom: 0.15em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

main>.section:first-of-type {
  margin-top: 0;
}

@media (width >=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}


/* My CSS - RU */
/* List icon - Content 1 */

.content1 .custom-richtext li,
.content4 .custom-richtext li {
  display: block;
  /* gap: 10px;
  align-items: start; */
  padding-left: 34px;
  position: relative;
}

.content1 .custom-richtext li strong,
.content4 .custom-richtext li strong {
  color: #0073BB;
}

.content1 .custom-richtext li::before,
.content4 .custom-richtext li::before {
  content: '';
  /* background: url('../icons/tick.svg'); */
  background: url('../icons/tick2.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* content1-term  css start */
.content1.content1-term.custom-richtext-container {
  margin: 60px 0;
}

.content1-term .custom-richtext-wrapper {
  padding: 0;
}

.content1-term .custom-richtext-wrapper>div h2 {
  color: #333;
  font-family: 'HelveticaNeueBold';
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
  display: block;
}

.content1-term .custom-richtext-wrapper>div p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.content1-term .custom-richtext-wrapper>div ul {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.content1-term .custom-richtext-wrapper>div ul li {
  margin-left: unset;
  padding-left: 52px;
  list-style: none;
  position: relative;
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  margin-bottom: 20px;
}

.content1-term .custom-richtext-wrapper>div ul li strong {
  color: #0073BB;
  font-family: 'HelveticaNeueBold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.126px;
}

/* content1-term  css End */


.content2>div.default-content-wrapper>p:nth-child(2) {
  display: none;
}

.image2>div.default-content-wrapper>p:nth-child(2),
.image3>div.default-content-wrapper>p:nth-child(2) {
  display: none;
}


.custom-richtextblock {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: stretch;
}

.content3 .custom-richtextblock>div {
  background-color: #F2F7FB;
  padding: 20px 40px 20px 40px;
  height: auto;
  max-width: 42%;
}


.content5 .custom-richtextblock>div {
  background-color: #F2F7FB;
  padding: 20px 40px 20px 40px;
  height: 100%;
  max-width: 25%;
  text-align: center;
}


main>.section.image2 {
  margin: 50px 0;
}

.image2>div.default-content-wrapper>p:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.image2>div.default-content-wrapper>p:nth-child(2) img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .content2>div.default-content-wrapper>p:nth-child(1) {
    display: none;
  }

  .content2>div.default-content-wrapper>p:nth-child(2) {
    display: block;
  }

  .content3 .custom-richtextblock>div {
    max-width: 100%;
    padding: 18px;
  }

  .content3 .custom-richtextblock>div:first-child {
    border-radius: 20px 20px 0px 0px;
  }

  .content5 .custom-richtextblock>div {
    max-width: 100%;
  }

  .image2>div.default-content-wrapper>p:nth-child(1) {
    display: none;
  }

  .image2>div.default-content-wrapper>p:nth-child(2) {
    display: block;
  }

  .image3>div.default-content-wrapper>p:nth-child(1) {
    display: none;
  }

  .image3>div.default-content-wrapper>p:nth-child(2) {
    display: block;
  }

  .content1-term .custom-richtext-wrapper>div h2 {
    letter-spacing: -0.24px;
    font-size: 24px;
    line-height: normal;
  }

  .content1.content1-term.custom-richtext-container {
    padding: 0 20px;
  }

  .content1-term .custom-richtext-wrapper>div p {
    line-height: 20px;
    letter-spacing: -0.16px;
    font-size: 16px;
  }

  .content1-term .custom-richtext-wrapper>div ul {
    margin-top: 40px;
  }

  .content1-term .custom-richtext-wrapper>div ul li {
    line-height: 19.6px;
    padding-left: 34px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: -0.14px;
  }

  .content1 .custom-richtext li::before,
  .content4 .custom-richtext li::before {
    width: 24px;
    height: 24px;
  }

  .content1-term .custom-richtext-wrapper>div ul li strong {
    letter-spacing: -0.14px;
    font-size: 0.875rem;
  }
}

.content2-term .custom-richtext>div>div :is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.content2-term .custom-richtext>div>div p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.content2-term>div:nth-child(2) {
  margin-top: 25px;
}

.content2-term img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {

  .content2-term .custom-richtext>div>div :is(h1, h2, h3, h4, h5, h6) {
    font-size: 1.5rem;
    letter-spacing: -0.24px;
  }

  .content2-term .custom-richtext>div>div p {
    line-height: 22.4px;
    letter-spacing: -0.16px;
    font-size: 16px;
  }
}

/* content3 css start */
.content3 .custom-richtext {
  margin-bottom: 20px;
}

.content3 .custom-richtext>div>div :is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.content3 .custom-richtext>div>div p {
  color: #333;
  font-family: "HelveticaNeueRoman";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.content3 .custom-richtextblock .content3-div>div :is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  padding-bottom: 10px;
}

.content3 .custom-richtextblock .content3-div>div p {
  color: #333;
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

@media screen and (max-width: 768px) {
  .content3 .custom-richtext>div>div :is(h1, h2, h3, h4, h5, h6) {
    font-size: 1.5rem;
    letter-spacing: -0.24px;
  }

  .content3 .custom-richtext>div>div p {
    line-height: 22.4px;
    letter-spacing: -0.16px;
    font-size: 16px;
  }

  .content3 .custom-richtextblock .content3-div>div :is(h1, h2, h3, h4, h5, h6) {
    font-size: 1.125rem;
    letter-spacing: -0.18px;
  }

  .content3 .custom-richtextblock .content3-div>div p {
    font-size: 0.875rem;
    letter-spacing: -0.14px;
    line-height: 19.6px;
  }

}

/* content3 css End */

/* Your Budget component css start */

.your-budget.cards-container {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.your-budget .default-content-wrapper,
.your-budget .cards-wrapper {
  max-width: 100%;
  width: 84.7%;
  margin: 0 auto;
  padding: 0;
}

.your-budget .default-content-wrapper h1 {
  font-family: "Inter-Bold";
  font-size: 36px;
  color: #333333;
  line-height: normal;
  font-weight: 700;
  padding: 0 40px;
}

.your-budget .cards-wrapper {
  margin-top: 30px;
}

.your-budget .cards-wrapper .cards>ul {
  gap: 11px;
  flex-wrap: wrap;
  padding: 0 40px;
}

.your-budget .cards-wrapper .cards>ul>li {
  position: relative;
  border: none;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-image {
  border-radius: 25px;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-image img {
  border-radius: 25px;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body {
  position: absolute;
  top: 55px;
  left: 36px;
  margin: 0;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body>ul:first-child {
  display: flex;
  flex-direction: column;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body p {
  margin: 0;
  padding: 0;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body ul li:first-child {
  color: #FFF;
  font-family: 'HelveticaNeueBold';
  font-size: 2.625rem;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: -0.42px;
  display: block;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body ul li:nth-child(2) {
  color: #FFF;
  font-family: 'HelveticaNeueRoman';
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.24px;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body ul li:nth-child(2)>ul {
  position: absolute;
  right: 56px;
  top: -6px;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body ul li:nth-child(2)>ul li {
  color: #FFF;
  font-family: 'HelveticaNeueRoman';
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.your-budget .cards-wrapper .cards>ul>li .cards-card-body .button-container .button {
  width: 100%;
  display: block;
  margin: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 13px;
  text-align: center;
  color: #D62049;
  font-family: 'HelveticaNeueMedium';
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.18px;
  min-width: 212px;
  min-height: 40px;
  line-height: normal;
}

@media screen and (max-width: 768px) {

  .your-budget .default-content-wrapper,
  .your-budget .cards-wrapper {
    width: 89%;
  }

  .your-budget .default-content-wrapper h1 {
    font-size: 26px;
    padding: 0;
  }

  .your-budget .cards-wrapper .cards>ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .your-budget .cards-wrapper .cards>ul>li {
    width: 150px;
    position: relative;
    border: 1px solid #0073BB;
    border-radius: 10px;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-image img {
    border-radius: 10px;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-body ul li:first-child {
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 22.4px;
    padding-bottom: 1px;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-body {
    position: unset;
    margin: 0;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-body .button-container .button {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 6px;
    min-width: 150px;
    min-height: 32px;
    border-radius: 0px 0px 10px 10px;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-body ul li:nth-child(2) {
    font-size: 0.875rem;
    letter-spacing: -0.14px;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-body ul li:nth-child(2)>ul li {
    font-size: 0.875rem;
    letter-spacing: -0.14px;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-body>ul:first-child {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    opacity: 1;
    z-index: 1;
  }

  .your-budget .cards-wrapper .cards>ul>li .cards-card-body p {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}



/* Your Budget component css end */

/* section directors css start  */

.section.directors.cards-container {
  margin: 30px 0;
  padding: 0;
}

.section.directors .cards-wrapper {
  padding: 0;
}

.section.directors .cards-wrapper .cards {
  position: relative;
}

.section.directors .cards-wrapper .cards::after {
  content: " ";
  background: url(/icons/right-desk.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 7px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
}

.section.directors .cards-wrapper .cards::before {
  content: " ";
  background: url(/icons/left-desk.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 7px;
  display: block;
  position: absolute;
  top: 50%;
}

.section.directors .cards-wrapper .cards>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: inherit;
}

.section.directors .cards-wrapper .cards>ul>li {
  display: flex;
  gap: 20px;
  align-items: center;
  width: fit-content;
  padding-right: 40px;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  border-right: solid 1px #d2d2d2;
}

.section.directors .cards-wrapper .cards>ul>li:last-child {
  border: none;
}

.section.directors .cards-wrapper .cards>ul>li .cards-card-image {
  width: 64px;
  height: 64px;
}

.section.directors .cards-wrapper .cards>ul>li .cards-card-image picture img {
  width: 100%;
  height: 100%;
}

.section.directors .cards-wrapper .cards>ul>li .cards-card-body {
  margin: 0;
}

.section.directors .cards-wrapper .cards>ul>li .cards-card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section.directors .cards-wrapper .cards>ul>li .cards-card-body>ul>li {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .section.directors .cards-wrapper .cards>ul>li {
    gap: 5px;
    padding-right: 10px;
    margin-left: 10px;
  }

  .section.directors .cards-wrapper .cards>ul>li .cards-card-image {
    width: 32px;
    height: 32px;
  }

  .section.directors .cards-wrapper .cards>ul>li .cards-card-body ul li {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.1px;
    margin-bottom: unset;
    gap: 5px;
    justify-content: center;
    margin-top: 3px;
  }

  .section.directors .cards-wrapper .cards>ul>li .cards-card-body ul li .icon {
    display: inline-flex;
    align-items: center;
    height: auto;
    width: auto;
  }

  .section.directors .cards-wrapper .cards>ul>li .cards-card-body ul li img {
    width: 16px;
    height: 16px;
  }

  .section.directors.cards-container {
    margin: 41px 0;
    padding: 0 20px;
  }

  .section.directors .cards-wrapper .cards::after {
    background: url(/icons/right-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
  }

  .section.directors .cards-wrapper .cards::before {
    background: url(/icons/left-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
  }
}

/* section directors css end  */

/* video Section css start */
.video-section .embed-container {
  margin: 40px 0;
}

.video-section .embed-wrapper {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 115, 187, .1);
  background-color: #fff;
}

.video-section .embed-wrapper .embed {
  width: 100%;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.video-section .embed-wrapper .embed>div iframe {
  border-radius: 20px;
}

/* video Section css End */

.section.popular-search>div h1 {
  font-size: 36px;
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  color: #333333;
  margin-bottom: 20px;
}

.popular-searches>div>div {
  display: flex;
  flex-wrap: wrap;
}

.popular-searches>div>div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: max-content !important;
  border: 1px solid #58595B;
  padding: 7px 12px 6px;
  margin: 0 12px 12px 0;
  cursor: pointer;
  line-height: normal;
}

.popular-searches>div>div ul li {
  line-height: normal;
}

.popular-searches>div>div ul li a {
  color: #58595B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter-Regular";
  line-height: normal;
  letter-spacing: -0.267px;
}



/* term-calculator2 css start */
.section.term-calculator2>div {
  background: #F2F7FB;
  margin: 0 auto;
  padding: 0 60px;
  padding-bottom: 32px;
  border-radius: 8px;
  padding-top: 32px;
  text-align: center;
}

.term-calculator2>div :is(h1, h2, h3, h4, h5, h6) {
  font-family: "Inter-Bold";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
  color: #333333;
  background: var(--Primary-Gradient, linear-gradient(90deg, #0073BB 0%, #D62049 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  margin-bottom: 25px;
}

.section.term-calculator2>div p {
  box-shadow: 0px 0px 16px 1px rgba(51, 51, 51, 0.15);
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 15px 0px 11px 0px;
}

.term-calculator2>div p:last-child {
  display: none;
}

@media screen and (max-width: 768px) {
  .section.term-calculator2>div {
    padding: 0 16px;
    padding-top: 30px;
  }

  .term-calculator2>div h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
  }

  .term-calculator2>div p:nth-child(2) {
    display: none;
  }

  .term-calculator2>div p:last-child {
    display: block;
    box-shadow: unset;
    background-color: unset;
    border-radius: unset;
    padding: 0;
  }
}


/* term-calculator2 css End */
/* term insurance plan benefit starts */
.term-insurance-plan>div h2 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 20px;
}

.term-insurance-plan>div ul {
  padding-left: 0;
}

.term-insurance-plan>div ul li {
  margin-left: unset;
  padding-left: 60px;
  list-style: none;
  position: relative;
  color: #333;
  font-family: "HelveticaNeueRoman";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  margin-bottom: 20px;
}

.term-insurance-plan>div ul li strong {
  color: #0073BB;
  font-family: 'HelveticaNeueBold';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.126px;
}

.content4 .custom-richtext li {
  padding-left: 60px;
}

.content4 .custom-richtext li::before {
  min-width: 32px;
  height: 32px;
  top: 0px;
}

@media screen and (max-width: 768px) {
  .term-insurance-plan>div h2 {
    font-family: 'Inter-Bold';
    font-size: 24px;
    letter-spacing: -0.24px;
    font-weight: 700;
  }

  .term-insurance-plan>div ul li {
    line-height: 19.6px;
    padding-left: 34px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: -0.14px;
  }

  .content4 .custom-richtext li {
    padding-left: 60px;
  }

  .content4 .custom-richtext li::before {
    min-width: 24px;
    height: 24px;
    top: 0px;
  }

  .content4 .custom-richtext li strong {
    line-height: 19.6px;
    /* padding-left: 34px; */
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: -0.14px;
  }

  .content4 .custom-richtext li {
    padding-left: 32px;
    font-family: "HelveticaNeueRoman";
    font-weight: 400;
    line-height: 19.6px;
  }

  .content4 .custom-richtext li strong {
    font-size: 14px;
  }
}

/* term insurance plan benefit ends */

/* benefit of buying insurance plan starts */
.benefit-buying-insurance-plan>div>div>div>div>h2 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.benefit-buying-insurance-plan>div>div>div>div>p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.benefit-buying-insurance-plan>div>div>div>div>p span {
  width: 50px;
  height: 50px;
}

.benefit-buying-insurance-plan>div>div>div>div>h3 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
}

.benefit-buying-insurance-plan>div>div>div>div>p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.benefit-buying-insurance-plan>.custom-richtextblock-wrapper {
  margin: 25px auto;
}

.benefit-buying-insurance-plan>.custom-richtextblock-wrapper>div>div {
  padding: 40px 40px;
}

.benefit-buying-insurance-plan>.custom-richtextblock-wrapper .custom-richtextblock>div:nth-child(1) {
  border-top-left-radius: 25px;
}

.benefit-buying-insurance-plan>.custom-richtextblock-wrapper .custom-richtextblock>div:nth-child(3) {
  border-top-right-radius: 25px;
}

.benefit-buying-insurance-plan>.custom-richtextblock-wrapper .custom-richtextblock>div:nth-child(4) {
  border-bottom-left-radius: 25px;
}

.benefit-buying-insurance-plan>.custom-richtextblock-wrapper .custom-richtextblock>div:nth-child(6) {
  border-bottom-right-radius: 25px;
}

@media screen and (max-width: 768px) {
  .benefit-buying-insurance-plan>div>div>div>div>h2 {
    font-size: 24px;
    letter-spacing: -0.24px;
  }

  .benefit-buying-insurance-plan>div>div>div>div>p {
    line-height: 22.4px;
    letter-spacing: -0.16px;
    font-size: 16px;
  }

  .benefit-buying-insurance-plan>.custom-richtextblock-wrapper>div>div {
    padding: 20px 15px;
  }
}

/* benefit of buying insurance plan ends */

/* types of insurance plan starts */
.types-of-insurance-plan>div>div>div>div>h2 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.types-of-insurance-plan>div>div>div>div>p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.types-of-insurance-plan>div>div>div>div>ul {
  padding: 15px 0 10px 0;
}

.types-of-insurance-plan>div>div>div>div>ul li {
  margin-left: unset;
  padding-left: 52px;
  list-style: none;
  position: relative;
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .types-of-insurance-plan>div>div>div>div>h2 {
    font-size: 1.5rem;
    letter-spacing: -0.24px;
  }

  .types-of-insurance-plan>div>div>div>div>p {
    line-height: 22.4px;
    letter-spacing: -0.16px;
    font-size: 16px;
  }

  .types-of-insurance-plan>div>div>div>div>ul li {
    line-height: 19.6px;
    padding-left: 34px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: -0.14px;
  }
}

/* types of insurance plan  ends */

/* affordable plan starts */
.affordable-insurance-plan>div>div>div>div>h2 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.affordable-insurance-plan>div>div>div>div>p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(2)>div>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(2)>div>ul>li {
  width: 48%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  font-family: "HelveticaNeueBold";
  color: #4197d3;
  letter-spacing: -0.4px;
  font-size: 36px;
  line-height: 36px;
}

.affordable-insurance-plan>div>div>div>div>ul>li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(2) {
  padding: 30px 30px 0;
  counter-reset: hl-counter;
  border-radius: 20px;
  box-shadow: 3px 6px 14px 0 rgba(0, 115, 187, 0.1);
  background: #fff;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(2) ul li ul li {
  font-size: 18px;
  font-family: "HelveticaNeueRoman";
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -0.126px;
  color: #333333;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(2)>div>ul>li ul {
  padding-left: 20px;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(3) {
  margin: 50px 0 20px;
  border-bottom: 2px solid #4197d3;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(3)>div p {
  font-family: "HelveticaNeueRoman";
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: #373737;
  margin-bottom: 20px;
  margin-right: 15px;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(3)>div>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(3)>div>ul li {
  display: flex;
  font-family: 'HelveticaNeueRoman';
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #58595b;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(3)>div>ul>li>p {
  width: 114px;
  border: 2px solid #4197d3;
  margin: 0;
  padding: 20px;
  border-bottom: none;
  border-right: none;
  font-family: 'HelveticaNeueRoman';
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #58595b;
  white-space: nowrap;
}

.affordable-insurance-plan .custom-richtextblock div:nth-child(3)>div>ul li ul {
  border: 2px solid #4197d3;
  padding: 20px;
  margin: 0;
  width: -webkit-fill-available;
  border-bottom: none;
}

/* affordable plan ends */

/* life-stages-plan css start */

.life-stages-plan .custom-richtextblock>div:first-child {
  width: 100%;
}

.life-stages-plan .custom-richtextblock>div:first-child>div :is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.life-stages-plan .custom-richtextblock>div:first-child>div p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.life-stages-plan .custom-richtextblock>div:first-child>div>ul>li:first-child p {
  color: #333;
  font-family: 'Inter-Regular';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  list-style: disc;
  padding-bottom: 2px;
}

.life-stages-plan .custom-richtextblock>div:first-child>div>ul {
  margin: 0;
  padding: 0;

}

.life-stages-plan .custom-richtextblock>div:first-child>div>ul>li {
  padding-bottom: 20px;
  margin-left: 10px;
}

.life-stages-plan .custom-richtextblock>div:first-child>div>ul>li :is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  /* list-style: disc; */
  padding-bottom: 2px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(2) {
  width: 100%;
}

.life-stages-plan .custom-richtextblock>div:nth-child(2)>div :is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(2)>div p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(2)>div ul {
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(2)>div ul li {
  display: flex;
  align-items: flex-start;
  margin-left: unset;
  padding-left: 52px;
  /* list-style: none; */
  position: relative;
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.18px;
  margin-bottom: 20px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(2)>div ul li :is(h1, h2, h3, h4, h5, h6) {
  color: #0073BB;
  font-family: 'HelveticaNeueBold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.126px;
  display: inline;
  line-height: normal;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-right: 6px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(3) {
  width: 100%;
}

.life-stages-plan .custom-richtextblock>div:nth-child(3)>div:first-child>:is(h1, h2, h3, h4, h5, h6),
.life-stages-plan .custom-richtextblock>div:nth-child(4)>div:first-child>:is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(3)>div>ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(3)>div>ul li :is(h1, h2, h3, h4, h5, h6) {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  list-style: disc;
  padding-bottom: 2px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(3)>div>ul li {
  padding-bottom: 20px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(4)>div p:nth-child(2) {
  width: 100%;
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
  padding-bottom: 17px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(4)>div ul:nth-child(3) {
  padding-left: 20px;
}

.life-stages-plan .custom-richtextblock>div:nth-child(4)>div ul:nth-child(3) li {
  list-style: disc;
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.18px;
  padding-bottom: 15px;
  margin-left: 10px;
}

/* life-stages-plan css End */

/* features of term insurance plan */
.features-of-ti .custom-richtext>div>div:where(h1, h2, h3, h4, h5, h6),
.choose-best-plan .custom-richtext>div>div h2 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.features-of-ti .custom-richtext>div>div p:nth-child(2) {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
  margin-bottom: 20px;
}

.features-of-ti .custom-richtext>div>div h2:nth-child(3) {
  padding-top: 60px;
}

.features-of-ti .custom-richtextblock>div>div h3 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  padding-bottom: 10px;
}

.features-of-ti .custom-richtextblock>div>div p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
}

/* features of term insurance plan */

/* choose-best-plan css start */
.choose-best-plan.section {
  margin: 60px 0;
}

.choose-best-plan .custom-richtextblock-wrapper {
  background-color: #F2F7FB;
  background-color: #F2F7FB;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.choose-best-plan .custom-richtextblock-wrapper .custom-richtextblock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.choose-best-plan .custom-richtextblock-wrapper .custom-richtextblock>div {
  border-radius: 20px;
  background: #FFF;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.choose-best-plan .custom-richtextblock>div>div h3 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  padding-bottom: 10px;
}

.choose-best-plan .custom-richtextblock>div>div p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.18px;
  padding-bottom: 15px;
  display: block;
  line-height: normal;
}

.choose-best-plan .custom-richtextblock>div>div p strong {
  color: #333;
  font-family: 'HelveticaNeueBold';
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.18px;
}

/* choose-best-plan css end */

/* long policy period css start */
.long-policy-period .custom-richtextblock div:first-child {
  margin: 20px 0;
  margin-top: unset;
}

.long-policy-period .custom-richtextblock div:first-child>div h2 {
  color: #333;
  font-family: 'Inter-Bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-bottom: 10px;
}

.long-policy-period .custom-richtextblock div:first-child>div p {
  color: #333;
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.18px;
  padding-bottom: 10px;
}

/* long policy period css end */