@import url(../blocks/choose-best-plan/choose-best-plan.css);
@import url(../blocks/long-policy-period/long-policy-period.css);
@import url(../blocks/life-stages-plan/life-stages-plan.css);
@import url(../blocks/content/content.css);

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Fonts  */
@import url(quicklinks.css);

@font-face {
  font-family: 'Montserrat-Bold';
  /* Name you want to use in CSS */
  src: url('/fonts/Montserrat-Bold.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
  display: swap;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  /* Name you want to use in CSS */
  src: url('/fonts/Montserrat-Medium.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  display: swap;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  /* Name you want to use in CSS */
  src: url('/fonts/Montserrat-Regular.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  display: swap;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  /* Name you want to use in CSS */
  src: url('/fonts/Montserrat-SemiBold.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
  display: swap;
  font-display: swap;
}

/* * {
  font-family: 'Montserrat-Regular';
} */

*{
  box-sizing: border-box;
}

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: Inter-Regular, Inter-fallback, sans-serif;
  --heading-font-family: Inter-Bold, Inter-Bold-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

* {
  box-sizing: border-box;
}

/* fallback fonts */
@font-face {
  font-family: Inter-Bold-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: Inter-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >=900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: normal;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.4em;
  margin-bottom: 0.15em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 0.80;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.4em;
  margin-bottom: 0.15em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

main .section {
  overflow: hidden;
}

input,
textarea,
select,
button {
  font: inherit;
}

body {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

main>.section:first-of-type {
  margin-top: 0;
}

@media (width >=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}


/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}






/* CSS for insurance plan form */
/* .insurance-plan-form {
  background-color: red;
} */

.insurance-plan-form .form-wrapper {
  max-width: 1366px;
  padding: 20px 60px;
  background: linear-gradient(180deg, rgba(242, 247, 251, 0) -13.13%, #F2F7FB 86.87%);
  border: 1px solid #F2F7FB;
  box-shadow: 0px 0px 15px rgba(88, 89, 91, 0.25);
  border-radius: 20px;
}

.insurance-plan-form .form-wrapper .form form {
  display: flex;
  flex-wrap: wrap;
}

.insurance-plan-form .form-wrapper .form .heading-wrapper {
  width: 100%;
}

.insurance-plan-form .form-wrapper .form .heading-wrapper h2 {
  color: #333333;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Inter-Bold";
  letter-spacing: -0.007em;
  margin: 0 0 10px;
}

.insurance-plan-form .form-wrapper .form .plaintext-wrapper,
.insurance-plan-form .form-wrapper .form .plaintext-wrapper p {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Inter-Regular';
  line-height: 21px;
  color: #333333;
  margin: 0 0 11px;
  width: 100%;
}

.insurance-plan-form .form-wrapper .form .field-wrapper:not(.heading-wrapper, .plaintext-wrapper, .selection-wrapper) {
  max-width: 32.3%;
  width: 100%;
  margin: 0;
  /* background-color: red; */
  margin-right: 10px;
}

.insurance-plan-form .form-wrapper .form .field-wrapper:not(.selection-wrapper) label,
.insurance-plan-form .form-wrapper .form .field-wrapper:not(.selection-wrapper) legend {
  font-size: 16px;
  line-height: 16px;
  color: #333;
  font-family: 'Inter-Regular';
  font-weight: 400;
  margin: 0;
  max-width: 80%;
  width: 100%;
}

.insurance-plan-form .form-wrapper .form .field-wrapper:not(.selection-wrapper) input {
  max-width: 80%;
  width: 100%;
  background-color: transparent;
  padding: 10px 0 10px;
  outline: 0;
  border: none;
  border-bottom: 1px solid #e6e7e8;
  border-radius: 0;
  color: #333333;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Inter-Bold";
}

.insurance-plan-form .form-wrapper .form .field-wrapper:not(.selection-wrapper) input::placeholder {
  color: #d3d4d5;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper fieldset {
  display: flex;
  gap: 15px;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper {
  max-width: 100%;
  margin: 0;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper.select-wrapper {
  position: relative;
  max-width: 62px;
  /* padding-right: 7px; */
  display: flex;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper.select-wrapper::after {
  content: '';
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  right: 2px;
  top: 42%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper.select-wrapper label {
  display: none;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper.select-wrapper select {
  border: none;
  padding: 0;
  appearance: none;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Inter-Bold";
  color: #333;
  outline: none;
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.submit-wrapper.mobile-btn {
  display: none;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.submit-wrapper {
  display: flex;
  justify-content: end;
  align-items: end;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.submit-wrapper .button {
  margin: 0;
  background-color: #d81b46;
  box-shadow: 0 0 10px 0 rgb(214 32 73 / 10%);
  padding: 10px;
  max-width: 220px;
  width: 100%;
  border-radius: 10px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  font-family: "Inter-Bold";
}

.insurance-plan-form .form-wrapper .form .field-wrapper.selection-wrapper {
  margin: 13px 0 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.selection-wrapper input {
  width: 18px;
  height: 18px;
  outline: none;
}

.insurance-plan-form .form-wrapper .form .field-wrapper.selection-wrapper label {
  color: #58595B;
  font-size: 10px;
  font-family: 'Inter-Regular';
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .insurance-plan-form {
    padding: 20px;
  }

  .insurance-plan-form .form-wrapper {
    padding: 30px 20px;
    border-radius: 20px 20px 0px 0px;
  }

  .insurance-plan-form .form-wrapper .form .heading-wrapper h2 {
    margin: 0 0 8px;
    font-size: 20px;
    line-height: normal;
    font-family: "Inter-Bold";
    font-weight: 600;
    text-align: center;
  }

  .insurance-plan-form .form-wrapper .form .plaintext-wrapper,
  .insurance-plan-form .form-wrapper .form .plaintext-wrapper p {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-family: 'Inter-Regular';
    font-weight: 400;
    margin-bottom: 0 0 8px;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper:not(.heading-wrapper, .plaintext-wrapper, .selection-wrapper) {
    max-width: 100%;
    margin: 0 0 8px;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper:not(.selection-wrapper) label,
  .insurance-plan-form .form-wrapper .form .field-wrapper:not(.selection-wrapper) legend {
    font-size: 12px;
    line-height: 12px;
    max-width: 100%;
    font-family: 'Inter-Regular';
    font-weight: 400;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper:not(.selection-wrapper) input {
    font-size: 16px;
    line-height: 16px;
    padding: 6px 0 10px;
    max-width: 100%;
    font-family: 'Inter-Regular';
    font-weight: 400;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper.select-wrapper {
    max-width: 48px;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper.select-wrapper select {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Inter-Regular';
    font-weight: 400;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.fieldset-wrapper .field-wrapper.select-wrapper::after {
    width: 7px;
    height: 7px;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.submit-wrapper.desktop-btn {
    display: none;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.submit-wrapper.mobile-btn {
    display: flex;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.submit-wrapper {
    justify-content: center;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.submit-wrapper .button {
    margin: 8px 0 0;
    max-width: 240px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.67px;
    font-family: "Inter-Bold";
    font-weight: 600;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.selection-wrapper {
    margin: 2px 0 0;
    align-items: start;
  }

  .insurance-plan-form .form-wrapper .form .field-wrapper.selection-wrapper label {
    font-size: 8px;
  }
  
}
