/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: #f0f0f0;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

/* main > div {
  margin: 40px 16px;
} */

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  /* margin: 40px 0; */
}

main > .section > div {
  /* max-width: 1200px; */
  /* margin: auto; */
  /* padding: 0 24px; */
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    /* padding: 0 32px; */
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

a:any-link{
  color: unset;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.apollo-container{
  width: 66.66666667%;
  margin: 0 auto !important; 
}

@media (max-width:786px){
  
.apollo-container{
  width: 83.33333333%;
}
}

/* fontsize */

.apollo-container h1 {
  font-style: normal;
  text-transform: none;
  color: #000;
  font-size: 42.0px;
  line-height: 1.03;
  font-weight: 700;
  margin: 0;
  font-family:' ApolloFlama',sans-serif;
}
.apollo-container h2,.apollo-container-one h2{
  font-family: 'ApolloFlama',sans-serif;
  font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.06;
    max-height: 3.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    /* text-transform: uppercase; */
}
.apollo-container h3 {
  font-size: 30.0px;
  font-style: normal;
  text-transform: none;
  color: #000;
  font-weight: 700;
  line-height: 1.06;
  font-family:' ApolloFlama',sans-serif;
}
/* fontsize */


/* section apollo-container .section:first */
.section.apollo-container:nth-child(2) {
padding-top: 72px;
}
.section.apollo-container .default-content-wrapper p{
  margin-bottom: 1rem;
  margin-top: 2rem;
  line-height: 1.6;
  font-size: 1.125rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
}
.apollo-container-two 
{
    padding: 72px 3%;
}


.apollo-container-two .hero.block{
  padding:unset;
  display:flex;
  margin-block:15px;
  flex-direction:row-reverse;
}
.apollo-container-two .hero.block > div{
  flex:0 0 50%;
  padding-inline:15px;
}
.apollo-container-two .hero.block > div:nth-child(1) > div{
position: relative;
}
.apollo-container-two .hero.block > div:nth-child(1) > div::after{
  content: "All New Compact SUV Tyre";
  border-radius: .5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #000;
  letter-spacing: .025rem;
  padding: .5625rem;
  max-width: 90%;
  line-height: 1.33;
  font-size: .75rem;
  background-color: white;
  position: absolute;
  bottom: -6px;
  z-index: 4;
  left: 5%;

}
.apollo-container-two .hero.block > div:nth-child(1)   picture{
  position:unset;
  
}
.apollo-container-two .hero.block > div:nth-child(1)   picture img{
  border-radius: .5rem;
}
.apollo-container-two .hero.block > div:nth-child(2) p {
  margin-bottom: 1rem;
  font-size: 20px;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
} 
.section:nth-child(6){
  border-top:3px solid #d9d9d9
}
.apollo-container-two.apollo-container-three .hero.block{
  flex-direction: row;
}
.apollo-container-two.apollo-container-three .hero.block > div:nth-child(1) > div::after{
  content: "Bharat Stage VI Ready Car Tyres";
}
/* section apollo-container */

/* media */
@media (max-width:786px){
  .section.apollo-container:nth-child(2) {
    padding-top: 48px;
    }
    .apollo-container-two 
{
    padding: 48px 18px;
}
.apollo-container-two .hero.block{
  flex-direction: column;
}
}
/* media */